workflow/SpecMark-BareModel-Test.yml
app:
  description: 测试专用。裸模型基线对比，只做最简单的LLM分类，不加规则引擎。用于和SpecMark Agent做A/B对比。
  icon: "\U0001F9EA"
  icon_background: '#F0E0FF'
  icon_type: emoji
  mode: advanced-chat
  name: SpecMark-裸模型测试
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.12@37699cc3d1ea9e006348a7273a514f3ddf60ffb0649dc735c594c8da6a80934b
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  rag_pipeline_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .CSV
      - .JSON
      - .TXT
      - .MD
      - .XLSX
      - .XLS
      - .DOCX
      - .DOC
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      enabled: true
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
      number_limits: 5
    opening_statement: "🧪 裸模型测试专用\n\n只做最简单的LLM分类，不加任何规则引擎。\n\n用法：\n1. 上传CSV/JSON/TXT文件 → 自动批量分类\n2. 直接粘贴反馈内容 → 分类单条\n\n输出格式：序号 | 情绪 | 问题类型 | 优先级"
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 帮我分类这些反馈
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: edge-start-extractor
      source: '1999000000001'
      sourceHandle: source
      target: '1999000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: edge-extractor-format
      source: '1999000000002'
      sourceHandle: source
      target: '1999000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: edge-format-llm
      source: '1999000000003'
      sourceHandle: source
      target: '1999000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: edge-llm-answer
      source: '1999000000004'
      sourceHandle: source
      target: '1999000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: "\u7528\u6237\u8F93\u5165"
        type: start
        variables: []
      height: 73
      id: '1999000000001'
      position:
        x: 400
        y: 200
      positionAbsolute:
        x: 400
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array: true
        is_array_file: true
        selected: false
        selector:
        - '1999000000001'
        - sys.files
        title: "\u6587\u6863\u63D0\u53D6"
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1999000000002'
      position:
        x: 750
        y: 200
      positionAbsolute:
        x: 750
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(file_content: list, user_query: str) -> dict:\n\
          \    content = ''\n    if file_content:\n        try:\n            if isinstance(file_content,\
          \ list):\n                content = '\\n'.join([str(item).strip() for item\
          \ in file_content if item and str(item).strip()])\n            else:\n \
          \               content = str(file_content).strip()\n        except:\n \
          \           content = str(file_content).strip()\n    \n    if not content.strip():\n\
          \        content = user_query.strip() if user_query else ''\n    \n    return\
          \ {\n        'formatted_content': content,\n        'has_content': bool(content.strip())\n\
          \    }"
        code_language: python3
        outputs:
          formatted_content:
            children: null
            type: string
          has_content:
            children: null
            type: boolean
        selected: false
        title: "\u5185\u5BB9\u683C\u5F0F\u5316"
        type: code
        variables:
        - value_selector:
          - '1999000000002'
          - text
          value_type: array[string]
          variable: file_content
        - value_selector:
          - sys
          - query
          value_type: string
          variable: user_query
      height: 53
      id: '1999000000003'
      position:
        x: 1100
        y: 200
      positionAbsolute:
        x: 1100
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}

            待分类反馈：

            {{#1999000000003.formatted_content#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: bare-model-system-prompt-001
          role: system
          text: "你是一个用户反馈分类助手。对用户发送的每一条反馈进行分类。\n\n分类维度：\n1. 情绪：正向 / 负向 / 中性\n2. 问题类型：功能问题 / 性能问题 / 体验问题 / 内容问题 / 咨询类 / 无（正面反馈填\"无\"）\n3. 优先级：高 / 中 / 低\n\n输出格式：\n每条反馈一行：序号 | 情绪 | 问题类型 | 优先级\n\n规则：\n- 必须逐条全部分类，不能遗漏\n- 只分类「待分类反馈」后面的内容\n- 不要输出其他内容，不要解释，不要建议"
        selected: false
        structured_output_enabled: false
        title: "\u88F8\u6A21\u578B\u5206\u7C7B"
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1999000000004'
      position:
        x: 1450
        y: 200
      positionAbsolute:
        x: 1450
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1999000000004.text#}}'
        selected: false
        title: "\u8F93\u51FA"
        type: answer
        variables: []
      height: 84
      id: '1999000000005'
      position:
        x: 1800
        y: 200
      positionAbsolute:
        x: 1800
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
