workflow/_archive/SpecMark旧.yml
app:
  description: 产品规范标记工具。给需求规格打上规范标记，不做生成，只做检查和标注。两大核心能力：1. PRD风险标记：识别企业术语误用、场景混淆、验收标准模糊、数据来源缺失，逐项标记风险等级和修改方向；2.
    用户反馈标记：输入原始反馈，自动标注类型、情绪、优先级、用户标签。
  icon: 🔍
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: advanced-chat
  name: SpecMark
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.12@37699cc3d1ea9e006348a7273a514f3ddf60ffb0649dc735c594c8da6a80934b
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: PRD读者类型
    id: 5dd27c8e-e116-4315-97a7-816ddb0d2629
    name: reader_type
    selector:
    - conversation
    - reader_type
    value: 产品
    value_type: string
  - description: 用户声明的行业/产品类型
    id: 54922ecb-c851-41df-8d77-4526493c73f3
    name: scene
    selector:
    - conversation
    - scene
    value: 未指定
    value_type: string
  - description: 风险类型记录
    id: 339edfc9-8261-45ae-99cc-5352a70a17f3
    name: risk_types
    selector:
    - conversation
    - risk_types
    value: ''
    value_type: string
  - description: PRD检查累计次数
    id: a37c35f3-5163-40e2-81cd-84d45ffb1998
    name: check_count
    selector:
    - conversation
    - check_count
    value: 0
    value_type: integer
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .CSV
      - .JSON
      - .TXT
      - .XLSX
      - .XLS
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '👋 我是 SpecMark，产品规范标记工具。


      你可以：

      1. 粘贴PRD片段让我标记风险

      2. 粘贴用户反馈让我分类标注

      3. 📎 上传CSV/JSON/TXT文件，批量分类反馈（支持500+条）

      4. 📎 上传CSV文件+说"批量PRD检查"，批量检查PRD

      5. 告诉我你的行业/产品类型，我会针对性检查


      示例输入：

      - 「用户管理模块支持多租户」

      - 「充了会员还是闪退，太垃圾了」

      - 「我在做ToC社交APP」

      - 上传包含多条反馈的文件 → 自动批量分类并生成报告

      - 上传PRD文件 + 「批量PRD检查」→ 逐条检查PRD风险'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 检查这段PRD：用户管理模块支持多租户和RBAC权限管理
    - 分类这条反馈：充了会员还是闪退，太垃圾了
    - 我在做ToC社交APP
    - 批量分类这些反馈
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: edge-start-classifier
      source: '1776648944081'
      sourceHandle: source
      target: '1776665743672'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-classifier-router
      source: '1776665743672'
      sourceHandle: source
      target: '1776670000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: edge-router-ifelse
      source: '1776670000001'
      sourceHandle: source
      target: '1776665766609'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-prd-llm-code
      source: '1776665833871'
      sourceHandle: source
      target: '1776668636204'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: edge-code-answer
      source: '1776668636204'
      sourceHandle: source
      target: '1776668650000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-fb-extract-rule
      source: '1776665889997'
      sourceHandle: source
      target: '1776670000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: edge-fb-rule-answer
      source: '1776670000002'
      sourceHandle: source
      target: '1776665895831'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: edge-ifelse-scene-llm
      source: '1776665766609'
      sourceHandle: d1ecb4c7-cb7e-4ec5-82b3-f1b8f583a8a3
      target: '1776680000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-scene-llm-json-code
      source: '1776665919302'
      sourceHandle: source
      target: '1776668700002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: edge-scene-code-answer
      source: '1776668700002'
      sourceHandle: source
      target: '1776665940760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse-batch-extract
      source: '1776665766609'
      sourceHandle: a1b2c3d4-batch-0001-0000-000000000001
      target: '1776665919302'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: edge-extract-batch-code
      source: '1776680000004'
      sourceHandle: source
      target: '1776680000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: edge-batch-llm-code
      source: '1776680000001'
      sourceHandle: source
      target: '1776680000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: edge-batch-code-answer
      source: '1776680000002'
      sourceHandle: source
      target: '1776680000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: edge-ifelse-batchprd-extract
      source: '1776665766609'
      sourceHandle: a1b2c3d4-batch-prd-0001-000000000001
      target: '1776666037112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: edge-batchprd-extract-format
      source: '1776680000007'
      sourceHandle: source
      target: '1776680000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: edge-batchprd-format-knowledge
      source: '1776680000005'
      sourceHandle: source
      target: '1776690000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-batchprd-knowledge-llm
      source: '1776690000003'
      sourceHandle: source
      target: '1776680000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-batchprd-llm-risk
      source: '1776680000006'
      sourceHandle: source
      target: '1776680000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: edge-ifelse-prd-file
      source: '1776665766609'
      sourceHandle: 'true'
      target: '1776680000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: edge-batch-risk-answer
      source: '1776680000008'
      sourceHandle: source
      target: '1776680000009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: edge-ifelse-prd-knowledge
      source: '1776665766609'
      sourceHandle: dc998848-e72c-408d-88bb-b6b47b160177
      target: '1776690000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-prd-knowledge-llm
      source: '1776690000001'
      sourceHandle: source
      target: '1776665833871'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: edge-ifelse-fb-knowledge
      source: '1776665766609'
      sourceHandle: 210a059d-f110-410d-a2b1-75d9620efb43
      target: '1776690000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-fb-knowledge-llm
      source: '1776690000002'
      sourceHandle: source
      target: '1776665889997'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1776648944081'
      position:
        x: 1198
        y: -336
      positionAbsolute:
        x: 1198
        y: -336
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array: true
        is_array_file: true
        selected: false
        selector:
        - '1776648944081'
        - sys.files
        title: 反馈文档提取
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1776680000004'
      position:
        x: 2200
        y: 460
      positionAbsolute:
        x: 2200
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array: true
        is_array_file: true
        selected: false
        selector:
        - '1776648944081'
        - sys.files
        title: PRD文档提取
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1776680000007'
      position:
        x: 700
        y: 460
      positionAbsolute:
        x: 700
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - wgCVTKOew1MVUS8jx5j9Ljn9irA4RHAgVG+eK+rGfqe0aZmPCYhvoiuyDGFdD8u7
        query_attachment_selector: []
        query_variable_selector:
        - '1776648944081'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
        title: 📚知识库-PRD规范检查
        type: knowledge-retrieval
      height: 90
      id: '1776690000001'
      position:
        x: 421
        y: 540
      positionAbsolute:
        x: 421
        y: 540
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - jSamWIYFuw3DdWVYVUbI1Hmg4blp79FAwk9fVWBg6lDz8pELwUp2cFKcUyYH8M4i
        query_attachment_selector: []
        query_variable_selector:
        - '1776648944081'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
        title: 📚知识库-反馈分类规则
        type: knowledge-retrieval
      height: 90
      id: '1776690000002'
      position:
        x: 1144
        y: 400
      positionAbsolute:
        x: 1144
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: aefb0922-03b2-4804-9b16-6b450c6b7c51
          role: system
          text: '判断用户输入的类型，输出JSON。


            类型定义：

            - feedback：用户评价/抱怨/反馈/求助/产品体验描述

            - prd_check：PRD片段/需求描述/功能说明/模块设计/技术需求

            - scene_declare：声明行业或产品类型

            - batch：用户上传了包含多条反馈/评论的文件（CSV/JSON/TXT/Excel），或明确要求批量标注

            - invalid_input：与产品工作无关的内容


            ⚠️ 文件上传判断规则（最高优先级）：

            用户上传文件时，根据文件内容和用户意图判断：

            - 文件中包含多条短文本（用户评论/反馈/评价）+ 用户说"标注/分类/批量" → batch

            - 文件中包含多条短文本 + 用户没说具体意图 → batch

            - 文件是PRD/需求文档（结构化的功能描述、模块设计）+ 用户说"检查/评审/看看" → prd_check

            - 文件是PRD/需求文档 + 用户没说具体意图 → prd_check

            - CSV/JSON/TXT格式 + 多行短文本 → 大概率是batch

            - PDF/DOCX格式 + 长文档 → 大概率是prd_check


            边界规则：

            1. "XX功能太难用了" → feedback

            2. "XX模块支持YY" → prd_check

            3. 短句产品反馈（如"机器人迷路了""电池只能用20分钟"）→ feedback

            4. "我的产品是XX"/"行业是XX" → scene_declare

            5. "做一款XX APP，核心功能是YY" → prd_check

            6. 单个名词（如"登录"）→ prd_check

            7. 闲聊/天气/知识问答/写诗/空白 → invalid_input

            8. 判断优先级：有文件→先判断batch还是prd_check，再排除invalid_input

            9. 包含技术术语的需求（如"支持Webhook回调"）→ prd_check

            10. PRD结构句式（如"XX页面：用户输入YY"）→ prd_check

            11. 极短负面词（如"卡""差""烂"）→ feedback

            12. 用户说"批量""标注""分类这些" → batch

            13. 用户说"检查PRD""看看这份文档" → prd_check


            输出格式（只输出JSON，不要其他内容）：

            {"type":"batch","confidence":0.95}

            {"type":"prd_check","confidence":0.9}

            {"type":"feedback","confidence":0.95}

            {"type":"scene_declare","confidence":0.85}

            {"type":"invalid_input","confidence":0.9}'
        selected: false
        structured_output_enabled: false
        title: 轻量分类器
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776665743672'
      position:
        x: 1198
        y: -76
      positionAbsolute:
        x: 1198
        y: -76
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(classifier_output: str, user_query:\
          \ str, has_files: str) -> dict:\n    validated_type = 'invalid_input'\n\
          \    confidence = 0.0\n    llm_type = ''\n\n    has_file = False\n    if\
          \ has_files:\n        has_files_str = str(has_files).strip()\n        if\
          \ has_files_str and has_files_str.lower() not in ['none', 'null', '[]',\
          \ '{}', 'false', '']:\n            has_file = True\n\n    prd_intent_kw\
          \ = ['检查', 'PRD', 'prd', '文档', '需求文档', '产品需求',\n                     '这份',\
          \ '怎么样', '好不好', '有没有问题', '帮我看看',\n                     '检查一下', '看看这份', '审一下',\
          \ '评审', '风险',\n                     '审查', '审核', '校验', '规范']\n    label_intent_kw\
          \ = ['标注', '分类', '这些反馈', '这些评论',\n                       '这些评价', '帮我标',\
          \ '帮我分', '全部反馈', '所有反馈',\n                       '生成报告', '标注报告', '帮我分析这些',\
          \ '批量分类',\n                       '批量处理', '批量标注']\n    prd_intent = any(k\
          \ in user_query for k in prd_intent_kw)\n    label_intent = any(k in user_query\
          \ for k in label_intent_kw)\n\n    if has_file:\n        if prd_intent and\
          \ not label_intent:\n            return {\n                'validated_type':\
          \ 'prd_review_file',\n                'confidence': 0.95\n            }\n\
          \        elif label_intent:\n            return {\n                'validated_type':\
          \ 'data_label_file',\n                'confidence': 0.95\n            }\n\
          \        elif not user_query.strip():\n            return {\n          \
          \      'validated_type': 'prd_review_file',\n                'confidence':\
          \ 0.85\n            }\n        else:\n            return {\n           \
          \     'validated_type': 'prd_review_file',\n                'confidence':\
          \ 0.8\n            }\n\n    try:\n        cleaned = classifier_output.strip()\n\
          \        if cleaned.startswith('```'):\n            cleaned = cleaned.split('\\\
          n', 1)[-1]\n            cleaned = cleaned.rsplit('```', 1)[0]\n        cleaned\
          \ = cleaned.strip()\n\n        brace_count = 0\n        start = -1\n   \
          \     for i, c in enumerate(cleaned):\n            if c == '{':\n      \
          \          if brace_count == 0:\n                    start = i\n       \
          \         brace_count += 1\n            elif c == '}':\n               \
          \ brace_count -= 1\n                if brace_count == 0 and start >= 0:\n\
          \                    data = json.loads(cleaned[start:i+1])\n           \
          \         break\n        else:\n            data = {}\n\n        if data:\n\
          \            raw_type = data.get('type', '')\n            confidence = float(data.get('confidence',\
          \ 0))\n            type_map = {\n                'feedback': 'feedback_classify',\n\
          \                'prd_check': 'prd_check',\n                'scene_declare':\
          \ 'scene_declare',\n                'invalid_input': 'invalid_input',\n\
          \                'batch': 'data_label_file'\n            }\n           \
          \ if raw_type in type_map:\n                llm_type = type_map[raw_type]\n\
          \    except:\n        pass\n\n    short_negatives = ['卡', '差', '烂', '慢',\
          \ '崩', '坏', '不好', '不行',\n                       '难用', '垃圾', '废了', '废', '渣',\
          \ '坑']\n    if len(user_query.strip()) <= 3 and user_query.strip() in short_negatives:\n\
          \        return {\n            'validated_type': 'data_label_text',\n  \
          \          'confidence': 0.7\n        }\n\n    prd_structures = [\n    \
          \    '模块支持', '模块实现', '需要支持', '需要实现', '需要提供',\n        '支持多租户', '支持SSO',\
          \ '支持RBAC', '支持SKU',\n        '页面：', '功能：', '需求：',\n        '点击获取', '输入手机号',\
          \ '验证码.*有效',\n        '动态变化', '实时展示', '跳转.*页',\n        '多租户隔离', '单点登录',\
          \ '权限控制',\n    ]\n    has_prd_structure = False\n    for pattern in prd_structures:\n\
          \        if re.search(pattern, user_query):\n            has_prd_structure\
          \ = True\n            break\n\n    prd_tech_terms = ['Webhook', 'OAuth',\
          \ 'API', 'CDN', 'Redis', 'SDK',\n                      'Token', '微服务', '回调',\
          \ '鉴权']\n    has_prd_tech = False\n    for term in prd_tech_terms:\n   \
          \     if term in user_query and not any(k in user_query for k in ['闪退',\
          \ '崩溃', '报错', '不能用', '坏了', '垃圾', '太慢', '卡顿']):\n            has_prd_tech\
          \ = True\n            break\n\n    fb_strong = ['闪退', '崩溃', '卡顿', '垃圾',\
          \ '太慢', '不好用', '难用',\n                 '不能用', '不工作', '报错', '坏了', '失灵', '太差',\
          \ '坑',\n                 '无语', '气死', '找不到', '没反应', '不方便', '不实用',\n     \
          \            '不如', '还不如', '说好的', '太麻烦', '反人类', '智障',\n                 '差',\
          \ '烂', '烦死', '恶心', '骗人', '退款', '投诉',\n                 '修了', '赶紧', '什么时候修',\
          \ '怎么还不', '为什么不能',\n                 '不好', '不行', '好用多了', '竞品', '严重',\n \
          \                '经常失败', '总是失败', '频繁出错', '一直报错']\n    fb_product = ['机器人',\
          \ '扫地', '充电', '电池', 'APP', '蓝牙', 'WiFi',\n                  '噪音', '吸力',\
          \ '路径', '建图', '断开', '迷路', '充了',\n                  '会员', '付费', '订阅', '扫地机',\
          \ '拖地', '避障', '漏扫',\n                  '基站', '水箱', '尘盒', '滤网', '边刷', '滚刷',\
          \ '地图',\n                  '清扫', '回充', '离线', '固件', '升级失败', '连接失败',\n   \
          \               '语音', '摄像头', '门锁', '开关', '灯', '插座', '温控',\n            \
          \      '传感器', '报警', '监控', '推送', '通知', '加载', '白屏',\n                  '黑屏',\
          \ '登录', '注册', '支付', '下单', '搜索', '评论',\n                  '分享', '收藏', '上传',\
          \ '下载', '播放', '卡住', '死机',\n                  '重启', '耗电', '发热', '闪屏', '花屏',\
          \ '延迟', '掉线']\n    prd_keywords = ['模块', '需求', 'PRD', '管理', '页面',\n    \
          \                '流程', '字段', '概要', '规格', '设计',\n                    '原型',\
          \ '交互', '用例', '评审', '版本', '迭代',\n                    '里程碑', '排期', '依赖',\
          \ '前置条件',\n                    '验收标准', '功能描述', '业务逻辑', '状态机']\n    scene_keywords\
          \ = ['做', '行业', 'ToC', 'ToB', '社交', '电商', '金融',\n                      '教育',\
          \ '产品是', '方向', '赛道', '垂直', '领域',\n                      '我在做', '我们做', '公司做',\
          \ '项目是']\n    scene_patterns = ['我们公司做', '我在做', '我们做', '公司做',\n        \
          \              '产品是', '项目是', '做.*行业', '做.*方向',\n                      '做.*赛道',\
          \ '做.*领域', '做.*的$']\n    has_scene_pattern = any(re.search(p, user_query)\
          \ for p in scene_patterns)\n\n    mild_suggest = ['能不能加', '能不能有', '能不能支持',\
          \ '能不能优化',\n                    '希望能', '希望有', '希望增加', '希望支持',\n        \
          \            '可以加', '可以有', '可以增加', '可以支持',\n                    '建议加', '建议增加',\
          \ '建议支持', '建议优化',\n                    '想要', '想加', '想要有']\n    has_mild_suggest\
          \ = any(s in user_query for s in mild_suggest)\n\n    strong_count = sum(1\
          \ for k in fb_strong if k in user_query)\n    product_count = sum(1 for\
          \ k in fb_product if k in user_query)\n    fb_count = strong_count + product_count\n\
          \    prd_count = sum(1 for k in prd_keywords if k in user_query)\n    scene_count\
          \ = sum(1 for k in scene_keywords if k in user_query)\n\n    consult_patterns\
          \ = ['怎么连接', '如何连接', '怎么配网', '如何配网',\n                        '怎么使用', '如何使用',\
          \ '怎么安装', '如何安装',\n                        '怎么设置', '如何设置', '教程', '说明书',\n\
          \                        '怎么连接WiFi', '如何连接WiFi']\n    is_consult = any(p\
          \ in user_query for p in consult_patterns)\n\n    if strong_count > 0:\n\
          \        base_type = 'feedback_classify'\n    elif has_scene_pattern and\
          \ strong_count == 0:\n        base_type = 'scene_declare'\n    elif has_prd_structure\
          \ and strong_count == 0:\n        base_type = 'prd_check'\n    elif has_prd_tech\
          \ and strong_count == 0:\n        base_type = 'prd_check'\n    elif has_mild_suggest\
          \ and strong_count == 0:\n        base_type = 'feedback_classify'\n    elif\
          \ fb_count > prd_count and fb_count > scene_count:\n        base_type =\
          \ 'feedback_classify'\n    elif prd_count > 0 and prd_count >= fb_count:\n\
          \        base_type = 'prd_check'\n    elif scene_count > 0 and scene_count\
          \ > prd_count:\n        base_type = 'scene_declare'\n    elif product_count\
          \ > 0:\n        base_type = 'feedback_classify'\n    else:\n        base_type\
          \ = 'invalid_input'\n\n    if base_type == 'feedback_classify' and strong_count\
          \ == 0 and is_consult:\n        product_func_words = ['WiFi', 'wifi', '蓝牙',\
          \ '连接', '配网', '登录', '注册',\n                              '支付', '清扫', '建图',\
          \ '避障', '充电', '回充',\n                              'APP', 'app', '固件', '升级',\
          \ '更新', '门锁',\n                              '摄像头', '传感器', '指纹', '语音', '网络']\n\
          \        if not any(w in user_query for w in product_func_words):\n    \
          \        base_type = 'invalid_input'\n\n    if base_type == 'invalid_input'\
          \ and llm_type and llm_type != 'invalid_input':\n        base_type = llm_type\n\
          \n    if base_type == 'prd_check':\n        validated_type = 'prd_review_text'\n\
          \    elif base_type == 'feedback_classify':\n        validated_type = 'data_label_text'\n\
          \    elif base_type == 'scene_declare':\n        validated_type = 'scene_declare'\n\
          \    else:\n        validated_type = 'invalid_input'\n\n    return {\n \
          \       'validated_type': validated_type,\n        'confidence': confidence\n\
          \    }\n"
        code_language: python3
        outputs:
          confidence:
            children: null
            type: number
          validated_type:
            children: null
            type: string
        selected: false
        title: 路由验证
        type: code
        variables:
        - value_selector:
          - '1776665743672'
          - text
          value_type: string
          variable: classifier_output
        - value_selector:
          - '1776648944081'
          - sys.query
          value_type: string
          variable: user_query
        - value_selector:
          - '1776648944081'
          - sys.files
          value_type: string
          variable: has_files
      height: 52
      id: '1776670000001'
      position:
        x: 1198
        y: 80
      positionAbsolute:
        x: 1198
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 0e9356ca-6cd8-41ac-b3ee-3586ab510803
            value: prd_review_file
            varType: string
            variable_selector:
            - '1776670000001'
            - validated_type
          id: 'true'
          logical_operator: and
        - case_id: dc998848-e72c-408d-88bb-b6b47b160177
          conditions:
          - comparison_operator: contains
            id: 05699103-d149-4f6f-8ade-6d9a0a9dde02
            value: prd_review_text
            varType: string
            variable_selector:
            - '1776670000001'
            - validated_type
          id: dc998848-e72c-408d-88bb-b6b47b160177
          logical_operator: and
        - case_id: d1ecb4c7-cb7e-4ec5-82b3-f1b8f583a8a3
          conditions:
          - comparison_operator: contains
            id: e686d121-1af1-459e-84d2-bff99e3fe40e
            value: data_label_file
            varType: string
            variable_selector:
            - '1776670000001'
            - validated_type
          id: d1ecb4c7-cb7e-4ec5-82b3-f1b8f583a8a3
          logical_operator: and
        - case_id: 210a059d-f110-410d-a2b1-75d9620efb43
          conditions:
          - comparison_operator: contains
            id: 03520305-fc95-4279-9e5e-018e36373057
            value: data_label_text
            varType: string
            variable_selector:
            - '1776670000001'
            - validated_type
          id: 210a059d-f110-410d-a2b1-75d9620efb43
          logical_operator: and
        - case_id: a1b2c3d4-batch-0001-0000-000000000001
          conditions:
          - comparison_operator: contains
            id: b1c2d3e4-batch-0001-0000-000000000001
            value: scene_declare
            varType: string
            variable_selector:
            - '1776670000001'
            - validated_type
          id: a1b2c3d4-batch-0001-0000-000000000001
          logical_operator: and
        - case_id: a1b2c3d4-batch-prd-0001-000000000001
          conditions:
          - comparison_operator: contains
            id: b1c2d3e4-batch-prd-0001-000000000001
            value: invalid_input
            varType: string
            variable_selector:
            - '1776670000001'
            - validated_type
          id: a1b2c3d4-batch-prd-0001-000000000001
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 316
      id: '1776665766609'
      position:
        x: 1198
        y: 220
      positionAbsolute:
        x: 1198
        y: 220
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776690000001'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: b3ccb493-890e-48d4-87d4-644af85dfb53
          role: system
          text: '你是 SpecMark，产品规范标记工具。你只做检查和标注，不做生成。


            ## 关键认知（必须遵守）

            场景错配P1仅适用于ToB专属业务术语（多租户/SSO/RBAC/审批流/部门管理/组织架构/角色权限）。以下技术实现术语不是ToB专属术语，绝对不可判为场景错配🔴高，必须标注为⚠️未收录术语🟡中：Webhook、OAuth2.0、API、CDN、Redis、MySQL、微服务、Token、SDK、REST、GraphQL、WebSocket


            ## 当前场景

            行业/产品类型：{{#conversation.scene#}}

            读者类型：{{#conversation.reader_type#}}


            ## 检查维度（按优先级从高到低输出）

            | 优先级 | 维度 | 判定标准 |

            |--------|------|----------|

            | P1 | 场景错配 | ToC产品出现ToB专属术语（多租户/SSO/RBAC/审批流/部门管理/组织架构/角色权限等）。注意：Webhook/OAuth2.0/API/CDN等技术实现术语不属于ToB专属术语，应标注为未收录术语⚠️🟡中
            |

            | P1 | 埋点违规 | 一个行为一个事件，未用通用事件+动态参数模式 |

            | P2 | 数据无来源 | 数据类内容未标注出处 |

            | P3 | 缺少异常处理 | 只写了正常流程，未考虑异常分支 |

            | P4 | 验收标准模糊 | 「功能正常运行」「体验流畅」等模糊表述 |

            | P5 | 需求不可量化 | 「提升用户体验」「优化性能」无量化指标 |


            ## 输出格式（逐项输出，有风险才列出）

            【风险点】：[具体问题]

            【位置】：[引用原文片段，超过50字用…截断]

            【风险等级】：🔴高 / 🟡中 / 🟢低

            【修改建议】：[关键词或短语，不超过15字]

            【行业参考】：[知识库中有则输出，无则省略此行]


            ## 输出规则

            - 若多个风险指向同一处，合并为一条，等级取最高

            - 遇到未收录术语（不在黑名单中但属于技术术语，如Webhook/OAuth2.0/API/CDN等），标注「⚠️ 该术语未收录，请人工确认」，等级🟡中。不要将灰名单术语直接归入场景错配🔴高

            - 灰名单术语（技术实现术语，不可判为场景错配🔴高）：Webhook、OAuth2.0、API、CDN、Redis、MySQL、微服务、Token、SDK。这些术语属于技术实现层面，在PRD技术架构描述中出现是合理的，应标注为⚠️未收录术语🟡中

            - 若无风险，输出：✅ 未检测到规范风险

            - 短PRD/草稿片段（少于3句话或仅描述正常流程）必须逐维度检查P1-P5，不可因文档简短而只报1项风险。典型短PRD应同时检出P3缺少异常处理和P4验收标准模糊

            - 需求概要/一句话PRD（如"核心功能是匿名提问"）也必须逐维度检查，至少检查P1场景错配、P3缺少异常处理、P4验收标准模糊、P5需求不可量化。"核心功能是XX"这种描述缺少验收标准和量化指标，必须检出P4和P5

            - 需求备注（仅目标/指标，无功能描述，如"日活提升30%"）至少检查P1场景错配和P5需求不可量化，其余维度标注「文档不完整，建议补充后检查」

            - 短PRD逐维度检查示例： 输入"用户登录功能：输入手机号和验证码即可登录。" 应检出：P3缺少异常处理🟡中 + P4验收标准模糊🟡中（"即可登录"无量化验收条件）

            - 灰名单术语检查示例： 输入"我们需要支持Webhook回调以及OAuth2.0鉴权。" 应检出：⚠️ 该术语未收录，请人工确认 🟡中（Webhook和OAuth2.0是技术实现术语，不是ToB专属业务术语，不可判为场景错配🔴高）
            错误输出：场景错配🔴高（这是错误的！Webhook/OAuth2.0不是ToB专属术语）


            ## 知识库参考

            以下知识库内容已自动注入上下文，请参考相关规则进行检查。


            ## 禁止事项

            - 禁止替用户重写PRD

            - 禁止提供完整修改版

            - 禁止追问「是否需要展开」


            ## 读者确认

            如果当前读者类型为空或"产品"（默认值），请在输出开头添加提醒：

            💡 提示：您尚未声明行业和读者类型，声明后可获得更精准的审查视角。请告诉我您的行业和目标读者（如：电商行业，给开发看）


            如果读者类型已明确指定（非默认"产品"），则不添加此提醒。'
        selected: false
        structured_output_enabled: false
        title: PRD风险检查
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776665833871'
      position:
        x: 421
        y: 713
      positionAbsolute:
        x: 421
        y: 713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nfrom collections import Counter\n\ndef main(llm_output:\
          \ str) -> dict:\n    try:\n        if not llm_output or not str(llm_output).strip():\n\
          \            return {\n                'output': '⚠️ 未获取到检查结果，请重新提交。'\n\
          \            }\n\n        llm_output = str(llm_output)\n\n        if '\U0001F4CB\
          \ Jira任务格式' in llm_output or 'Jira任务格式' in llm_output:\n            return\
          \ {\n                'output': llm_output\n            }\n\n        if '✅\
          \ 未检测到规范风险' in llm_output:\n            return {\n                'output':\
          \ llm_output\n            }\n\n        risk_pattern = r'【风险点】：(.+?)\\n【位置】：(.+?)\\\
          n【风险等级】：(.+?)\\n【修改建议】：(.+?)$'\n        risks = re.findall(risk_pattern,\
          \ llm_output, re.MULTILINE)\n\n        if not risks:\n            return\
          \ {\n                'output': llm_output + '\\n\\n\U0001F4CB Jira任务格式：\\\
          n（未检测到标准格式风险点，请人工复核）'\n            }\n\n        risk_type_keywords = {\n\
          \            '场景错配': ['场景错配', 'ToB专属', '多租户', 'SSO', 'RBAC'],\n        \
          \    '埋点违规': ['埋点'],\n            '数据无来源': ['数据无来源', '数据来源', '出处'],\n  \
          \          '缺少异常处理': ['异常处理', '异常分支', '异常情况'],\n            '验收标准模糊': ['验收标准',\
          \ '验收条件'],\n            '需求不可量化': ['不可量化', '量化指标'],\n        }\n\n     \
          \   current_types = []\n        for risk in risks:\n            risk_point\
          \ = risk[0].strip()\n            matched = False\n            for type_name,\
          \ keywords in risk_type_keywords.items():\n                if any(k in risk_point\
          \ for k in keywords):\n                    current_types.append(type_name)\n\
          \                    matched = True\n                    break\n       \
          \     if not matched:\n                current_types.append(risk_point[:8])\n\
          \n        jira_lines = []\n        for risk in risks:\n            risk_point\
          \ = risk[0].strip()\n            level_raw = risk[2].strip()\n         \
          \   position = risk[1].strip()\n            suggestion = risk[3].strip()\n\
          \            if '\U0001F534' in level_raw or '高' in level_raw:\n       \
          \         priority = 'High'\n            elif '\U0001F7E1' in level_raw\
          \ or '中' in level_raw:\n                priority = 'Medium'\n          \
          \  else:\n                priority = 'Low'\n            jira_lines.append(f\"\
          【Bug】PRD风险：{risk_point} | 优先级：{priority} | 描述：{position} {suggestion}\"\
          )\n\n        jira_section = ''\n        if jira_lines:\n            jira_section\
          \ = '\\n\U0001F4CB Jira任务格式：\\n' + '\\n'.join(jira_lines)\n\n        summary_section\
          \ = ''\n        if len(current_types) >= 2:\n            type_counts = Counter(current_types)\n\
          \            most_common = type_counts.most_common(1)[0]\n            if\
          \ most_common[1] >= 2:\n                summary_section = f'\\n\\n\U0001F4CA\
          \ 本次检查最高频风险：{most_common[0]}（出现{most_common[1]}次）。建议重点关注{most_common[0]}问题。'\n\
          \n        final_output = llm_output + jira_section + summary_section\n\n\
          \        return {\n            'output': final_output\n        }\n    except\
          \ Exception as e:\n        return {\n            'output': f'⚠️ 结果处理异常，原始输出如下：\\\
          n\\n{llm_output if llm_output else \"（无输出）\"}'\n        }\\\n"
        code_language: python3
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: 风险计数与Jira格式
        type: code
        variables:
        - value_selector:
          - '1776665833871'
          - text
          value_type: string
          variable: llm_output
      height: 52
      id: '1776668636204'
      position:
        x: 421
        y: 857
      positionAbsolute:
        x: 421
        y: 857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776668636204.output#}}'
        selected: false
        title: PRD检查结果
        type: answer
        variables: []
      height: 84
      id: '1776668650000'
      position:
        x: 421
        y: 1120
      positionAbsolute:
        x: 421
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776690000002'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 9bc050a8-3531-4e45-b61b-732f4ffcc462
          role: system
          text: '你是 SpecMark 反馈分类器。对每条用户反馈，直接输出分类结果。

            ## 当前场景 行业/产品类型：{{#conversation.scene#}}

            ## 分类维度

            1. 情绪：负向 / 中性 / 正向 2. 问题类型：功能 / 性能 / 体验 / 内容 3. 优先级：高 / 中 / 低

            ## 核心规则（必须遵守）

            1. 建议类一律→体验+低优先级："能不能加个XX""希望增加XX""建议加XX"→体验/低（即使提到"功能"二字） 2. 功能=软件本身坏了/出错了：闪退/崩溃/数据丢失/支付扣了钱但订单没生成/页面打不开/功能按钮无响应→功能+高优先级
            3. 服务/配送/商家/客服问题→体验：配送慢/骑手态度差/商家取消订单/食物质量问题/客服不解决→体验（软件功能没坏，是服务体验差） 4.
            举报功能失效→功能：举报没处理/举报系统形同虚设→功能 5. 正向反馈也要按维度分类：夸速度→性能/低，夸功能→功能/低，夸推荐→内容/低，夸操作→体验/低
            6. 严重影响→高优先级：等超长时间/骑手恶劣/被自动续费/发烫不敢用/付费用户+问题/反讽+问题 7. 中性+非功能问题→低：中性+建议类/体验/内容/性能→低
            8. 缓解词+非严重故障→降级：偶尔/有时/不影响使用→降一级（但闪退/崩溃/数据丢失/支付失败不降级）

            ## Few-shot示例（必须参考）

            输入："充了会员还是闪退，太垃圾了" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.95,"reasoning":"付费+核心功能失效+强烈负面"}

            输入："能不能加个记账功能？" 输出：{"sentiment":"中性","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"建议类一律体验，即使提到功能二字"}

            输入："能不能增加按价格排序的功能？" 输出：{"sentiment":"中性","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"建议类一律体验"}

            输入："希望增加深色模式" 输出：{"sentiment":"中性","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"建议类一律体验"}

            输入："推荐越来越不准了" 输出：{"sentiment":"负向","problem_type":"内容","priority":"中","confidence":0.85,"reasoning":"趋势性恶化，推荐是内容维度"}

            输入："充值到账很快" 输出：{"sentiment":"正向","problem_type":"功能","priority":"低","confidence":0.9,"reasoning":"正向夸功能→功能"}

            输入："音质很棒，值得付费" 输出：{"sentiment":"正向","problem_type":"性能","priority":"低","confidence":0.9,"reasoning":"正向夸音质→性能"}

            输入："推荐算法不错，总能找到想要的" 输出：{"sentiment":"正向","problem_type":"内容","priority":"低","confidence":0.85,"reasoning":"正向夸推荐→内容"}

            输入："退款到账很快" 输出：{"sentiment":"正向","problem_type":"功能","priority":"低","confidence":0.9,"reasoning":"正向夸功能→功能"}

            输入："视频通话画质很清晰" 输出：{"sentiment":"正向","problem_type":"性能","priority":"低","confidence":0.9,"reasoning":"正向夸画质→性能"}

            输入："社区氛围很好" 输出：{"sentiment":"正向","problem_type":"内容","priority":"低","confidence":0.9,"reasoning":"正向夸社区→内容"}

            输入："滴滴打车等了20分钟没人接单" 输出：{"sentiment":"负向","problem_type":"体验","priority":"高","confidence":0.9,"reasoning":"等超长时间=严重影响"}

            输入："骑手态度恶劣，直接把餐扔门口" 输出：{"sentiment":"负向","problem_type":"体验","priority":"高","confidence":0.95,"reasoning":"骑手恶劣=严重影响"}

            输入："被自动续费了，完全没提醒" 输出：{"sentiment":"负向","problem_type":"体验","priority":"高","confidence":0.9,"reasoning":"被欺骗=严重影响"}

            输入："真厉害，更新之后更卡了" 输出：{"sentiment":"负向","problem_type":"性能","priority":"高","confidence":0.95,"reasoning":"反讽+问题"}

            输入："买了VIP推荐还是一样的差" 输出：{"sentiment":"负向","problem_type":"内容","priority":"高","confidence":0.9,"reasoning":"付费用户+问题"}

            输入："发烫严重，不敢用了" 输出：{"sentiment":"负向","problem_type":"性能","priority":"高","confidence":0.9,"reasoning":"严重影响=不敢用"}

            输入："偶尔会闪退" 输出：{"sentiment":"负向","problem_type":"功能","priority":"中","confidence":0.85,"reasoning":"有缓解词但闪退不降级"}

            输入："定位不准，司机找不到我" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.9,"reasoning":"定位功能失效"}

            输入："淘宝商品详情页图片显示不出来" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.9,"reasoning":"显示功能失效"}

            输入："支付宝安全验证太麻烦了" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"验证能用但体验差"}

            输入："界面简洁好用，上手很快" 输出：{"sentiment":"正向","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"正向夸操作→体验"}

            输入："网易课堂字幕翻译有错误" 输出：{"sentiment":"负向","problem_type":"内容","priority":"中","confidence":0.85,"reasoning":"内容错误"}

            输入："费用计算不透明" 输出：{"sentiment":"负向","problem_type":"内容","priority":"高","confidence":0.85,"reasoning":"信息不透明=严重影响"}

            输入："一直加载转圈，根本打不开" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.95,"reasoning":"加载功能失效，打不开=功能坏"}

            输入："总是掉线，根本没法用" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.95,"reasoning":"连接功能失效"}

            输入："语音转文字准确率太低" 输出：{"sentiment":"负向","problem_type":"功能","priority":"中","confidence":0.85,"reasoning":"功能结果错误但非崩溃"}

            输入："会员太贵了" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"价格/费用→体验"}

            输入："配送费太贵了" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"价格/费用→体验"}

            输入："皮肤价格越来越贵" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"价格/费用→体验"}

            输入："搜索结果跟关键词完全不匹配" 输出：{"sentiment":"负向","problem_type":"内容","priority":"高","confidence":0.9,"reasoning":"搜索算法输出=内容"}

            输入："匹配机制不公平" 输出：{"sentiment":"负向","problem_type":"内容","priority":"高","confidence":0.9,"reasoning":"匹配算法输出=内容"}

            输入："朋友圈广告太多了" 输出：{"sentiment":"负向","problem_type":"体验","priority":"低","confidence":0.85,"reasoning":"广告多=体验差"}

            输入："建议优化搜索算法" 输出：{"sentiment":"中性","problem_type":"内容","priority":"低","confidence":0.85,"reasoning":"建议优化算法→内容"}

            输入："滤镜效果很好看" 输出：{"sentiment":"正向","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"夸效果→体验"}

            输入："多端同步很顺畅" 输出：{"sentiment":"正向","problem_type":"性能","priority":"低","confidence":0.9,"reasoning":"夸顺畅→性能"}

            输入："分类很详细，容易找到" 输出：{"sentiment":"正向","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"容易找到=操作体验"}

            输入："配送速度快，餐还是热的" 输出：{"sentiment":"正向","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"夸配送→体验"}

            输入："更新包太大了" 输出：{"sentiment":"负向","problem_type":"性能","priority":"低","confidence":0.85,"reasoning":"包大小=性能指标"}

            输入："等了2小时才送到，外卖都凉了" 输出：{"sentiment":"负向","problem_type":"体验","priority":"高","confidence":0.9,"reasoning":"配送服务差=体验，软件没坏"}

            输入："商家接单了又取消订单" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"商家行为=体验，软件没坏"}

            输入："食物里吃出头发，客服不管" 输出：{"sentiment":"负向","problem_type":"体验","priority":"高","confidence":0.9,"reasoning":"客服服务差=体验，软件没坏"}

            输入："支付扣了钱但订单没生成" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.95,"reasoning":"支付功能真的坏了"}

            输入："安全验证太麻烦了" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"验证能用但麻烦=体验中"}

            输入："歌词和歌曲不同步" 输出：{"sentiment":"负向","problem_type":"内容","priority":"中","confidence":0.85,"reasoning":"歌词同步=内容匹配"}

            输入："偶尔有点噪音，但整体还行" 输出：{"sentiment":"中性","problem_type":"体验","priority":"低","confidence":0.8,"reasoning":"有缓解词+还行=中性"}

            输入："加载慢一点，不过可以接受" 输出：{"sentiment":"中性","problem_type":"性能","priority":"低","confidence":0.8,"reasoning":"有缓解词+可接受=中性"}

            输入："内容参差不齐，有的好有的差" 输出：{"sentiment":"中性","problem_type":"内容","priority":"中","confidence":0.85,"reasoning":"中性+内容=中"}

            输入："搜索结果全是翻唱" 输出：{"sentiment":"负向","problem_type":"内容","priority":"中","confidence":0.85,"reasoning":"搜索质量=内容"}

            输入："退款成功了，客服处理很快" 输出：{"sentiment":"正向","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"夸客服=体验"}

            输入："评论区审核太严，正常评论被删" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.9,"reasoning":"删评=功能行为+高"}

            输入："举报系统形同虚设" 输出：{"sentiment":"负向","problem_type":"功能","priority":"高","confidence":0.9,"reasoning":"举报功能失效=高"}

            输入："理财页面数据更新不及时" 输出：{"sentiment":"负向","problem_type":"内容","priority":"中","confidence":0.85,"reasoning":"数据更新=内容维度"}

            输入："视频保存到本地失败" 输出：{"sentiment":"负向","problem_type":"功能","priority":"中","confidence":0.85,"reasoning":"保存失败非核心=中"}

            输入："发送文件大小限制太小了" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"限制=体验中"}

            输入："基金收益计算方式看不懂" 输出：{"sentiment":"负向","problem_type":"内容","priority":"低","confidence":0.8,"reasoning":"看不懂非错误=低"}

            输入："广告太多，刷5个有2个广告" 输出：{"sentiment":"负向","problem_type":"体验","priority":"中","confidence":0.85,"reasoning":"广告多=体验中"}

            输入："突然切歌了" 输出：{"sentiment":"负向","problem_type":"功能","priority":"中","confidence":0.85,"reasoning":"切歌非核心功能=中"}

            输入："界面设计还行，就是操作有点复杂" 输出：{"sentiment":"负向","problem_type":"体验","priority":"低","confidence":0.8,"reasoning":"操作复杂=负向但轻微=低"}

            输入："安全措施很到位" 输出：{"sentiment":"正向","problem_type":"体验","priority":"低","confidence":0.9,"reasoning":"夸安全措施→体验"}

            输入："日程功能很方便" 输出：{"sentiment":"正向","problem_type":"功能","priority":"低","confidence":0.9,"reasoning":"正向夸功能→功能"}

            输入："举报了没处理" 输出：{"sentiment":"负向","problem_type":"功能","priority":"中","confidence":0.85,"reasoning":"举报功能失效"}

            ## 输出格式（只输出JSON）

            { "sentiment": "负向/中性/正向", "problem_type": "功能/性能/体验/内容", "priority":
            "高/中/低", "confidence": 0.0到1.0的置信度, "reasoning": "简要判断依据，不超过30字" }'
        selected: false
        structured_output_enabled: false
        title: 反馈特征提取
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776665889997'
      position:
        x: 1144
        y: 581
      positionAbsolute:
        x: 1144
        y: 581
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\nSCENE_CORE_MAP = {\n    '电商': '下单,支付,搜索,商品,购物车,退款,订单,物流,发货,收货,评价,优惠券,秒杀,库存,客服,售后',\n\
          \    '社交': '登录,发帖,聊天,消息,好友,动态,评论,点赞,分享,关注,私信,群聊,朋友圈,直播,视频通话',\n    '金融':\
          \ '转账,支付,登录,账户,交易,余额,理财,贷款,还款,账单,提现,充值,风控,开户,征信',\n    '教育': '登录,课程,视频,作业,考试,直播,报名,学习,题库,证书,进度,打卡,讲义,答疑',\n\
          \    '短视频': '播放,上传,评论,点赞,关注,搜索,直播,推荐,滤镜,剪辑,分享,收藏,带货,打赏',\n    '外卖': '下单,支付,配送,商家,菜单,订单,退款,地址,评价,优惠券,骑手,催单,加购',\n\
          \    '出行': '叫车,支付,导航,定位,行程,司机,订单,退款,预约,路线,拼车,打车,代驾',\n    '旅游': '搜索,预订,支付,酒店,机票,行程,退款,评价,攻略,签证,门票,客服,改签',\n\
          \    '医疗': '挂号,问诊,处方,支付,报告,预约,咨询,病历,用药,体检,保险,急救,医保',\n    '游戏': '登录,充值,匹配,加载,存档,联机,支付,活动,任务,商城,抽卡,更新,组队',\n\
          \    '办公': '登录,编辑,保存,分享,协作,搜索,模板,导出,同步,权限,评论,通知,审批',\n    '音乐': '播放,搜索,下载,收藏,歌单,会员,推荐,歌词,分享,上传,付费,音质,定时',\n\
          \    '阅读': '阅读,搜索,下载,书架,会员,推荐,评论,笔记,订阅,翻页,加载,购买,书签',\n    '云存储': '上传,下载,同步,分享,存储,备份,文件,搜索,预览,权限,链接,加密,回收站',\n\
          \    '邮箱': '收件,发件,搜索,附件,通讯录,垃圾邮件,标签,签名,转发,回复,草稿,日历',\n    '直播': '开播,观看,打赏,弹幕,连麦,关注,分享,充值,礼物,美颜,推流,回放,PK',\n\
          \    '社区': '发帖,评论,点赞,关注,搜索,分享,收藏,举报,私信,话题,推荐,通知,圈子',\n    '智能家居': '连接,控制,场景,自动化,设备,定时,联动,语音,远程,分享,固件,配网,分组,传感器,报警,监控,推送,通知,摄像头,门锁,开关,插座,温控',\n\
          \    '扫地机器人': '清扫,建图,充电,路径,避障,连接,回充,地图,导航,噪音,拖地,集尘,故障,安全,漏水,越障,配网,固件,吸力,尘盒,滚刷,边刷,水箱,基站,传感器,定时,禁区,地图编辑,语音,OTA',\n\
          \    '智能手表': '连接,同步,通知,运动,心率,支付,定位,消息,闹钟,表盘,续航,防水,睡眠',\n    '耳机': '连接,降噪,音质,蓝牙,佩戴,充电,通话,触控,切换,配对,延迟,续航,空间音频',\n\
          \    '手机': '通话,短信,相机,充电,网络,蓝牙,WiFi,指纹,面容,屏幕,系统,应用,信号',\n    '无人机': '飞行,拍摄,连接,遥控,定位,返航,图传,云台,电池,校准,固件,避障,跟随',\n\
          \    '智能门锁': '开锁,指纹,密码,APP,连接,电池,报警,临时密码,记录,分享,固件,刷卡,人脸',\n    '摄像头': '连接,监控,存储,回放,报警,夜视,云存,分享,对讲,移动追踪,固件,配网',\n\
          \    '投影仪': '投影,连接,对焦,音质,投屏,蓝牙,遥控,梯形校正,散热,灯泡,系统,信号',\n    '翻译机': '翻译,识别,连接,语音,拍照,离线,充电,蓝牙,词典,录音,语种,固件',\n\
          \    '学习机': '课程,作业,考试,点读,护眼,家长控制,下载,同步,搜索,打卡,错题,进度',\n    'ToB': '权限,审批,流程,管理,配置,组织,角色,数据,报表,集成,租户,工单,通知',\n\
          \    'CRM': '客户,线索,跟进,合同,报表,权限,提醒,导入,导出,搜索,标签,分配,公海',\n    '项目管理': '任务,进度,协作,看板,甘特,文档,成员,权限,提醒,统计,迭代,需求,缺陷',\n\
          \    'SaaS': '登录,权限,数据,报表,配置,集成,导入,导出,协作,通知,订阅,计费,API',\n    'ERP': '采购,库存,销售,财务,生产,订单,报表,审批,供应商,成本,出入库,对账',\n\
          \    'HR': '考勤,薪资,招聘,入职,绩效,请假,审批,组织,培训,社保,合同,排班',\n    'AI对话': '对话,生成,回答,理解,上下文,提示词,推理,搜索,翻译,写作,编程,分析',\n\
          \    'AIGC': '生成,创作,提示词,模板,导出,编辑,风格,质量,版权,批量,定制,预览,历史',\n    '智能机器人': '交互,对话,导航,避障,识别,语音,控制,任务,充电,连接,固件,传感器,运动',\n\
          \    '智能汽车': '导航,辅助驾驶,语音,连接,充电,续航,OTA,座舱,泊车,预警,远程,车机,智驾',\n    '智能音箱': '语音,识别,播放,控制,连接,闹钟,提醒,技能,音质,唤醒,蓝牙,配网,声纹',\n\
          \    'VR': '沉浸,追踪,手柄,渲染,眩晕,画面,交互,空间,连接,内容,定位,刷新率,延迟',\n    'AR': '识别,叠加,追踪,渲染,交互,定位,标注,扫描,分享,内容,校准,空间,虚实融合',\n\
          \    '数字人': '生成,驱动,渲染,口型,表情,动作,语音,交互,定制,导出,模板,质量,延迟',\n    '智能客服': '对话,意图,转人工,知识库,多轮,工单,满意度,排队,转接,快捷回复,统计,质检',\n\
          \    '低代码': '拖拽,组件,流程,表单,数据,发布,权限,集成,模板,预览,部署,API,变量',\n    'RPA': '自动化,流程,执行,录制,调度,异常,日志,凭证,变量,触发,监控,报表,审批',\n\
          \    '智慧零售': '支付,库存,会员,营销,订单,供应链,数据,陈列,自助,配送,促销,核销,门店',\n    '智慧物流': '追踪,调度,配送,仓储,分拣,运输,签收,异常,计费,路由,监控,报表,通知',\n\
          \    '在线会议': '入会,音视频,屏幕共享,录制,聊天,白板,邀请,预约,美颜,虚拟背景,静音,参会',\n    '区块链': '交易,钱包,合约,转账,验证,节点,签名,密钥,上链,查询,授权,Gas,地址',\n\
          \    '智能穿戴': '连接,同步,监测,通知,运动,心率,血氧,睡眠,压力,续航,防水,表盘,提醒',\n    '宠物智能': '喂食,饮水,监控,互动,清洁,定位,健康,提醒,远程,定时,记录,固件,配网',\n\
          }\n\n\ndef _clean_text(text):\n    text = re.sub(r'[｜|]\\s*\\d+\\s*[｜|]',\
          \ ' ', text)\n    text = re.sub(r'｜', ' ', text)\n    text = re.sub(r'\\\
          d+\\.\\s*', ' ', text)\n    text = re.sub(r'\\s+', ' ', text).strip()\n\
          \    return text\n\n\ndef _detect_scene(items):\n    scene_scores = {}\n\
          \    for scene_key, funcs in SCENE_CORE_MAP.items():\n        keywords =\
          \ funcs.split(',')\n        score = 0\n        for item in items:\n    \
          \        for kw in keywords:\n                if kw in item:\n         \
          \           score += 1\n        if score > 0:\n            scene_scores[scene_key]\
          \ = score\n    if not scene_scores:\n        return ''\n    max_score =\
          \ max(scene_scores.values())\n    top_scenes = [s for s, sc in scene_scores.items()\
          \ if sc == max_score]\n    if len(top_scenes) == 1:\n        return top_scenes[0]\n\
          \    for s in top_scenes:\n        if s in ['电商', '社交', '金融', '教育', '外卖',\
          \ '出行', '游戏', '办公']:\n            return s\n    return top_scenes[0]\n\n\
          \ndef _detect_item_scene(text):\n    best_scene = ''\n    best_score = 0\n\
          \    for scene_key, funcs in SCENE_CORE_MAP.items():\n        keywords =\
          \ funcs.split(',')\n        score = sum(1 for kw in keywords if kw in text)\n\
          \        if score > best_score:\n            best_score = score\n      \
          \      best_scene = scene_key\n    return best_scene if best_score >= 2\
          \ else ''\n\n\ndef _is_suggestion(text):\n    patterns = [r'能不能', r'希望',\
          \ r'^建议', r'想要', r'想加', r'可以加', r'可以增加', r'可以支持']\n    for p in patterns:\n\
          \        if re.search(p, text):\n            return True\n    return False\n\
          \n\ndef _is_question(text):\n    patterns = [r'^怎么', r'^如何', r'^为什么', r'^请问',\
          \ r'.*\\？$', r'.*\\?$', r'在哪里', r'怎么弄']\n    for p in patterns:\n      \
          \  if re.search(p, text):\n            return True\n    return False\n\n\
          \ndef _detect_failure(text):\n    patterns = [\n        r'(闪退|崩溃|死机|白屏|黑屏|卡死|罢工|瘫痪)',\n\
          \        r'(报错|故障|异常|失效|失灵)',\n        r'(失败|错误|不行|不能用|没法用|不可用|用不了)',\n\
          \        r'(连不上|断连|掉线|离线|断开)',\n        r'(坏了|断了|碎了|烧了|短路|鼓包|裂了)',\n   \
          \     r'(卡在|卡住|不动|停了|不转|出不来)',\n        r'(充不上|扫不了|建不了|回不了|打不开|关不掉|开不了|关不了)',\n\
          \        r'(识别不了|检测不到|不识别|没反应|没响应)',\n        r'(配网失败|连接失败|同步失败|保存失败|提交失败|发送失败|安装失败|更新失败|配对失败)',\n\
          \        r'(形同虚设|不管用|不起作用|误触发|不执行|不启动)',\n        r'(找不到基站|回不去|迷路|找不到)',\n\
          \        r'(漏水|渗水|泡坏|短路)',\n        r'(不起作用|没用|白搭|摆设)',\n        r'(不工作|不开机)',\n\
          \        r'(加载不出|加载失败|页面空白|页面打不开)',\n        r'(请求超时|服务不可用|服务器错误|网络错误)',\n\
          \        r'(扣款失败|支付异常|下单失败|退款失败|充值失败)',\n        r'(登录失败|注册失败|验证失败|认证失败|授权失败)',\n\
          \        r'(数据丢失|同步异常|导出失败|导入失败|导出.*错乱)',\n        r'(加载中.*卡住|一直加载|转圈|页面崩溃)',\n\
          \        r'(固件.*后.*[变差下降]|更新.*后.*[变差下降]|升级.*后.*[变差卡])',\n        r'(断断续续|时断时续|时有时无)',\n\
          \        r'(失控|突然.*[停失断])',\n        r'(被限流|被拦截|被删|不通过|不生效|不可靠)',\n    \
          \    r'(丢失|进度.*丢|数据.*没)',\n        r'(显示不出来|显示不出|看不到|看不了)',\n        r'(订单.*未付款|订单.*消失|订单.*没|商品.*消失)',\n\
          \        r'(未付款|没付款|付款.*但)',\n    ]\n    exp_not_failure = [r'没人接单', r'等了.*分钟没人']\n\
          \    for p in exp_not_failure:\n        if re.search(p, text):\n       \
          \     return False\n    for p in patterns:\n        if re.search(p, text):\n\
          \            return True\n    return False\n\n\ndef _detect_perf_issue(text):\n\
          \    patterns = [\n        r'(卡顿|卡了|很卡|太卡|特别卡|变卡)',\n        r'(慢|太慢|很慢|特别慢|变慢|加载慢|启动慢|响应慢)',\n\
          \        r'(延迟|高延迟|延迟高|延迟.*\\d|460)',\n        r'(耗电|耗电.*快|耗电.*翻倍|电池.*掉|掉电)',\n\
          \        r'(缓冲|加载中|转圈|一直加载)',\n        r'(帧率.*降|帧.*掉|掉帧|只有.*帧)',\n     \
          \   r'(启动.*慢|打开.*慢|启动.*等|打开.*等)',\n        r'(发烫|发热|过热)',\n        r'(占用.*高|内存.*高|CPU.*高)',\n\
          \        r'(更新包.*大|安装包.*大)',\n    ]\n    for p in patterns:\n        if\
          \ re.search(p, text):\n            return True\n    return False\n\n\ndef\
          \ _detect_exp_issue(text):\n    patterns = [\n        r'(麻烦|繁琐|复杂|不方便|不好用|难用|难操作)',\n\
          \        r'(找不到|迷路|不知道在哪)',\n        r'(太贵|价格|收费|会员费|订阅)',\n        r'(广告|推送|通知|弹窗)',\n\
          \        r'(界面|UI|交互|设计|布局|操作)',\n        r'(客服|态度|服务)',\n        r'(退款流程|退款麻烦|退款慢)',\n\
          \        r'(虚假宣传|杀熟|隐私|强制|自动续费)',\n        r'(操作.*复杂|流程.*复杂|步骤.*多)',\n \
          \       r'(审核|被删|不通过)',\n        r'(太烦|太吵|太暗)',\n        r'(配送超时|等了.*分钟|到店说没有)',\n\
          \        r'(自动续费|没提醒|偷偷扣)',\n        r'(越来越贵|性价比)',\n    ]\n    for p in\
          \ patterns:\n        if re.search(p, text):\n            return True\n \
          \   return False\n\n\ndef _detect_content_issue(text):\n    patterns = [\n\
          \        r'(推荐.*不准|推荐.*不好|推荐.*不对|推荐.*差|推荐.*重复|推荐.*单一|推荐.*过时|推荐.*不感兴趣)',\n\
          \        r'(内容.*低俗|内容.*差|内容.*少|内容.*旧|内容.*过时|内容.*单一)',\n        r'(搜索.*不匹配|搜索.*不对|搜索.*无关|搜索结果)',\n\
          \        r'(翻译.*错|翻译.*差|字幕.*错|字幕.*不同步|歌词.*不同步)',\n        r'(假货|刷单|刷评|水军|好评.*假)',\n\
          \        r'(分类.*乱|分类.*不对|分类.*差)',\n        r'(排序.*不合理|排序.*乱)',\n       \
          \ r'(图文不符|描述不符|虚假)',\n        r'(推荐算法|推荐内容|搜索算法|搜索结果)',\n        r'(匹配.*不公平|匹配机制)',\n\
          \        r'(质量.*参差不齐|质量.*差)',\n        r'(低俗|俗气)',\n        r'(算法|推荐不准|搜索.*无关)',\n\
          \    ]\n    for p in patterns:\n        if re.search(p, text):\n       \
          \     return True\n    return False\n\n\ndef _classify_sentiment(text):\n\
          \    if _is_suggestion(text):\n        return '中'\n    if _is_question(text):\n\
          \        for p in ['为什么.*失败', '为什么.*不行', '为什么.*不能', '为什么.*没']:\n       \
          \     if re.search(p, text):\n                return '负'\n        return\
          \ '中'\n    for p in [r'太棒了.*闪退|太棒了.*崩溃', r'真是好.*再也不', r'完美.*没了|完美.*丢了',\
          \ r'不错.*数据.*丢|不错.*订单.*没', r'好评.*闪退|好评.*崩溃']:\n        if re.search(p, text):\n\
          \            return '负'\n    neg_strong = ['垃圾','太差','难用','太慢','太卡','太烂','太垃圾','太差了','太坑','千万别','不推荐','浪费钱','别买','避雷','后悔','失望','恶心','骗人','坑人','上当','被坑','忍不了','受不了','再也不','废了','彻底','离谱','夸张','过分','假的','根本不能','完全不能','不能用','没法用','崩溃','闪退','死机','形同虚设','气死','烦死','太低了','太差了','太贵了','太少了','太多了','太小了','太大了','太慢了','太卡了','太烂了','太坑了','太烦了','用不了','用不起','用不上','没法用','不能用','虚标','缩水','降级','衰减','退步','白买','白费','杀熟','忽悠','进水','鼓包','变形','松动','脱落','错位','乱码','错乱','混乱','断连','掉线','离线','误报','误触','卡住','卡顿','卡死','模糊','花屏','绿屏','特别慢','特别差','特别卡','特别烂','变卡','变慢','变差','变烂','翻倍','不支持','不兼容','被盗','泄露']\n\
          \    neg_medium = ['不好','不行','差','烂','坑','烦','不满','严重','故障','缺陷','错误','异常','失败','报错','失灵','失效','太麻烦','不方便','不稳定','老是','经常','总是','每次都','反复','瘫痪','简陋','摆设','反人类','找不到','延迟','退出','过时','太贵','太难','越来越少','越来越差','越来越卡','越来越贵','自动续费','偷偷扣','乱扣','多扣','不准了','越来越不准']\n\
          \    neg_score = 0\n    for k in neg_strong:\n        if k in text:\n  \
          \          neg_score += 3\n            break\n    for k in neg_medium:\n\
          \        if k in text:\n            neg_score += 2\n            break\n\
          \    has_failure = _detect_failure(text)\n    has_perf = _detect_perf_issue(text)\n\
          \    has_exp = _detect_exp_issue(text)\n    has_content = _detect_content_issue(text)\n\
          \    if neg_score == 0 and has_failure:\n        neg_score = 3\n    if neg_score\
          \ == 0 and has_perf:\n        neg_score = 2\n    if neg_score == 0 and has_exp:\n\
          \        neg_score = 1\n    if neg_score == 0 and has_content:\n       \
          \ neg_score = 1\n    if neg_score == 0:\n        neg_patterns = [r'太[低差贵慢卡烂坑烦吵暗热冷薄重累短长蠢笨麻烦]',\
          \ r'不[准对灵稳匹配清晰完整及时方便靠谱合理正常准确智能好用专业执行启动一样到位给行好支持均匀认兼容]', r'[用找搜看听选理操]不[了到清]',\
          \ r'太.*了', r'一直.*[卡等没不]', r'每次.*[都就]', r'经常.*[不卡掉断]', r'总是.*[不卡掉断]', r'还是.*[不没卡]',\
          \ r'根本.*[不没]', r'完全.*[不没不同]', r'什么都没', r'一点都.*[不没]', r'越来越.*[差卡慢贵少不准]',\
          \ r'被[限拦删封]', r'(不可靠|不生效|不可用)', r'(耽误|白费|浪费)', r'特别[慢差卡烂]', r'变[卡慢差烂]',\
          \ r'耗电.*[快多翻倍]', r'延迟.*\\d', r'不支持|不兼容|不认', r'不均匀|不一致', r'翻倍', r'退出', r'丢了|没了|不见了|丢失',\
          \ r'不准|不对|不灵|不稳', r'发烫|发热|过热', r'越来越不准', r'一般.*不感兴趣|有些.*有些不']\n        for\
          \ p in neg_patterns:\n            if re.search(p, text):\n             \
          \   neg_score = 2\n                break\n    neg_context_patterns = [r'推荐.*不感兴趣|推荐.*不好|推荐.*不对',\
          \ r'好评.*假|好评.*刷|好评.*水军', r'全是.*不|全是.*假|全是.*错|全是.*翻唱', r'不错.*但|挺好.*但|好用.*但|方便.*但',\
          \ r'满意.*但|优秀.*但|喜欢.*但', r'太棒了.*闪退|太棒了.*崩溃|完美.*没了|不错.*丢了']\n    has_neg_context\
          \ = False\n    for p in neg_context_patterns:\n        if re.search(p, text):\n\
          \            has_neg_context = True\n            break\n    pos_strong =\
          \ ['满意','优秀','很棒','超出预期','完美','很好','不错','很专业','很清晰','很精准','很实用','很方便','很到位','很顺畅','总能','一直很','非常好','特别好用']\n\
          \    pos_medium = ['好','棒','喜欢','赞','好用','方便','挺好','清晰','专业','及时','快速','准确','精准','美观','简洁','流畅','很好','很快','很棒','很赞','值得','推荐','解决','到位','顺畅','好看','实用','上手快']\n\
          \    pos_weak = ['还行','可以','过得去','凑合','一般','基本满足','可以接受','不算太差']\n    pos_score\
          \ = 0\n    if not has_neg_context:\n        for k in pos_strong:\n     \
          \       if k in text:\n                pos_score += 3\n                break\n\
          \        for k in pos_medium:\n            if k in text:\n             \
          \   pos_score += 2\n                break\n        for k in pos_weak:\n\
          \            if k in text:\n                pos_score += 1\n           \
          \     break\n    if pos_score == 0:\n        pos_patterns = [r'很[好棒赞快美清专业准实用方便]',\
          \ r'超[好棒赞预期]', r'太[好棒赞快美清]了', r'值得.*付费|值得.*购买|值得.*推荐', r'推荐给', r'解决.*快|处理.*快|到账.*快|配送.*快',\
          \ r'体验.*好|体验.*提升|体验.*棒', r'提升.*明显|改善.*明显', r'速度.*快|响应.*快|加载.*快|启动.*快', r'画质.*好|画质.*清晰|音质.*好|音质.*棒']\n\
          \        for p in pos_patterns:\n            if re.search(p, text):\n  \
          \              pos_score += 2\n                break\n    if neg_score >\
          \ pos_score:\n        return '负'\n    elif pos_score > neg_score:\n    \
          \    return '正'\n    elif neg_score > 0 and pos_score == 0:\n        return\
          \ '负'\n    elif pos_score > 0 and neg_score == 0:\n        return '正'\n\
          \    else:\n        return '中'\n\n\ndef _classify_type(text, scene):\n \
          \   if _is_suggestion(text):\n        return '体验'\n    if _detect_failure(text):\n\
          \        return '功能'\n    if _detect_perf_issue(text):\n        return '性能'\n\
          \    topic_scores = {'功能': 0, '性能': 0, '体验': 0, '内容': 0}\n    perf_topic\
          \ = ['快','慢','卡','流畅','延迟','速度','加载','响应','耗电','启动','发烫','发热','帧率','掉帧','缓冲','转圈','音质','画质','清晰']\n\
          \    for k in perf_topic:\n        if k in text:\n            topic_scores['性能']\
          \ += 2\n    content_topic = ['推荐','内容','搜索','分类','排序','算法','质量','准确','精准','翻译','字幕','歌词','假货','刷单','水军','翻唱','重复','过期','过时','低俗','匹配','图文不符','描述不符','推荐不准','不感兴趣','单一','参差不齐']\n\
          \    for k in content_topic:\n        if k in text:\n            topic_scores['内容']\
          \ += 3\n    exp_topic = ['界面','操作','设计','方便','麻烦','复杂','好用','简单','美观','引导','模式','价格','贵','收费','会员','广告','推送','通知','客服','态度','配送','配送费','流程','步骤','审核','自动续费','性价比','深色','夜间','批量','自定义','离线','能不能','希望','建议']\n\
          \    for k in exp_topic:\n        if k in text:\n            topic_scores['体验']\
          \ += 3\n    func_topic_strict = ['支付.*失败|支付.*异常|登录.*失败|退款.*失败|同步.*失败|下载.*失败',\
          \ '上传.*失败|导出.*失败|备份.*失败|保存.*失败|提交.*失败|发送.*失败', '打卡.*失败|定位.*不准|连接.*失败|订单.*消失|订单.*没|消息.*发不出',\
          \ '记录.*没|记录.*丢|聊天记录.*没|显示.*不对|余额.*不对|余额.*少', '被盗|安全.*形同虚设|隐私.*泄露|账号.*被盗',\
          \ '支付成功.*订单|扣了.*费|乱扣|多扣|扣款', '功能.*失效|功能.*不能|功能.*没|功能.*不工作']\n    for p in\
          \ func_topic_strict:\n        if re.search(p, text):\n            topic_scores['功能']\
          \ += 4\n    func_topic_general = ['支付','登录','退款','同步','下载','上传','导出','备份','打卡','定位','订单','消息','文件','日程','会议','播放','账号','充值','提现','理财','紧急','路线','导航','优惠券','红包','花呗','保存','收藏','分享','评论','举报','滤镜','直播']\n\
          \    is_positive_text = bool(re.search(r'(很棒|很赞|很好|值得|不错|满意|喜欢|赞|好用|方便|快速|及时|顺畅|清晰|专业|到位|很实用|很方便|很专业|很清晰|很精准|很快|速度.*快)',\
          \ text))\n    is_exp_context = bool(re.search(r'(太麻烦|太复杂|太繁琐|不方便|不好用|难用|难操作|太贵|体验差)',\
          \ text))\n    for k in func_topic_general:\n        if k in text and not\
          \ is_positive_text and not is_exp_context:\n            topic_scores['功能']\
          \ += 1\n    if scene and scene in SCENE_CORE_MAP:\n        core_funcs =\
          \ SCENE_CORE_MAP[scene].split(',')\n        for func in core_funcs:\n  \
          \          if func in text:\n                topic_scores['功能'] += 2\n \
          \   if _detect_content_issue(text):\n        topic_scores['内容'] += 3\n \
          \   if _detect_exp_issue(text):\n        topic_scores['体验'] += 2\n    max_score\
          \ = max(topic_scores.values())\n    if max_score > 0:\n        best_types\
          \ = [t for t, s in topic_scores.items() if s == max_score]\n        if len(best_types)\
          \ == 1:\n            return best_types[0]\n        priority_order = ['功能',\
          \ '性能', '内容', '体验']\n        for t in priority_order:\n            if t\
          \ in best_types:\n                return t\n    return '体验'\n\n\ndef _classify_priority(text,\
          \ ptype, sentiment, scene):\n    is_core = False\n    if scene and scene\
          \ in SCENE_CORE_MAP:\n        core_funcs = SCENE_CORE_MAP[scene].split(',')\n\
          \        for func in core_funcs:\n            if func in text:\n       \
          \         is_core = True\n                break\n    is_paid = bool(re.search(r'(付费|会员|VIP|充了|买了|充值|订阅|花呗)',\
          \ text))\n    has_mitigation = bool(re.search(r'(偶尔|有时|不影响使用|但整体|但基本|不过|可以接受|还行)',\
          \ text))\n    is_severe = _detect_failure(text)\n    is_urgent = bool(re.search(r'(紧急|赶紧|马上|立刻|尽快|急|等了.*分钟|等了.*小时|等了.*天)',\
          \ text))\n    if sentiment == '正':\n        return '低'\n    if sentiment\
          \ == '中':\n        if is_urgent:\n            return '中'\n        return\
          \ '低'\n    if sentiment == '负':\n        if is_severe:\n            return\
          \ '高'\n        if is_urgent:\n            return '高'\n        if is_paid\
          \ and is_core:\n            return '高'\n        if is_paid:\n          \
          \  return '中'\n        if is_core and ptype == '功能':\n            return\
          \ '高'\n        if is_core:\n            if has_mitigation:\n           \
          \     return '低'\n            return '中'\n        if ptype == '功能':\n  \
          \          if has_mitigation:\n                return '低'\n            return\
          \ '中'\n        if ptype == '性能':\n            if has_mitigation:\n     \
          \           return '低'\n            return '中'\n        if ptype == '内容':\n\
          \            return '低'\n        if ptype == '体验':\n            return '低'\n\
          \        return '低'\n    return '低'\n\n\ndef main(feature_json, original_query,\
          \ current_scene):\n    try:\n        features = json.loads(feature_json)\
          \ if feature_json else {}\n    except:\n        features = {}\n\n    text\
          \ = _clean_text(original_query)\n\n    if current_scene and current_scene\
          \ != '未指定':\n        scene = current_scene\n    else:\n        scene = _detect_item_scene(text)\
          \ or _detect_scene([text]) or ''\n\n    pred_type = _classify_type(text,\
          \ scene)\n    pred_sent = _classify_sentiment(text)\n    pred_pri = _classify_priority(text,\
          \ pred_type, pred_sent, scene)\n\n    sentiment_map = {'正': '正向', '负': '负向',\
          \ '中': '中性'}\n    type_map = {'功能': '功能问题', '性能': '性能问题', '体验': '体验问题',\
          \ '内容': '内容问题'}\n\n    sentiment_cn = sentiment_map.get(pred_sent, '中性')\n\
          \    type_cn = type_map.get(pred_type, '其他')\n\n    is_core = False\n  \
          \  if scene and scene in SCENE_CORE_MAP:\n        core_funcs = SCENE_CORE_MAP[scene].split(',')\n\
          \        for func in core_funcs:\n            if func in text:\n       \
          \         is_core = True\n                break\n\n    is_paid = bool(re.search(r'(付费|会员|VIP|充了|买了|充值|订阅|花呗)',\
          \ text))\n\n    user_tags = []\n    if is_paid:\n        user_tags.append('付费用户')\n\
          \    if re.search(r'(刚买|刚注册|第一次用|新手)', text):\n        user_tags.append('新用户')\n\
          \    if re.search(r'(用了.*月|用了.*年|老用户|用了很久)', text):\n        user_tags.append('老用户')\n\
          \n    implicit_need = '无'\n    need_patterns = [\n        (r'每次都要(.{2,6})',\
          \ '自动化'),\n        (r'找不到(.{2,6})', '入口优化'),\n        (r'太麻烦了|太复杂', '流程简化'),\n\
          \        (r'能不能(加个|增加|支持)(.{2,8})', None),\n        (r'希望(增加|支持|有)(.{2,8})',\
          \ None),\n        (r'噪音太大|太吵', '静音模式'),\n        (r'充电太慢|充电.*慢', '快充'),\n\
          \        (r'总是断连|断连', '连接稳定性'),\n        (r'没有(.{2,6})模式', None),\n    ]\n\
          \    for pattern, need in need_patterns:\n        m = re.search(pattern,\
          \ text)\n        if m:\n            if need:\n                implicit_need\
          \ = need\n            else:\n                groups = m.groups()\n     \
          \           if len(groups) >= 2 and groups[-1]:\n                    implicit_need\
          \ = groups[-1][:12]\n                elif len(groups) >= 1 and groups[0]:\n\
          \                    implicit_need = groups[0][:12]\n            break\n\
          \n    output = f\"\"\"\U0001F4CB 分类结果\n━━━━━━━━━━━━━━━━━━━━\n\U0001F3AD\
          \ 情绪：{sentiment_cn}\n\U0001F4C2 问题类型：{type_cn}\n\U0001F534 优先级：{pred_pri}\n\
          ━━━━━━━━━━━━━━━━━━━━\n\U0001F4CC 场景：{scene or '未指定'}\n\U0001F4A1 核心功能：{'是'\
          \ if is_core else '否'}\n\U0001F464 用户标签：{', '.join(user_tags) if user_tags\
          \ else '无'}\n\U0001F52E 隐含需求：{implicit_need}\"\"\"\n\n    return {\n   \
          \     \"output\": output,\n        \"sentiment\": pred_sent,\n        \"\
          problem_type\": pred_type,\n        \"priority\": pred_pri,\n    }\n\n\n\
          result = main(feature_json, original_query, current_scene)\n"
        code_language: python3
        outputs:
          output:
            children: null
            type: string
          priority:
            children: null
            type: string
          problem_type:
            children: null
            type: string
          sentiment:
            children: null
            type: string
        selected: false
        title: 反馈规则引擎
        type: code
        variables:
        - value_selector:
          - '1776665889997'
          - text
          value_type: string
          variable: feature_json
        - value_selector:
          - '1776648944081'
          - sys.query
          value_type: string
          variable: original_query
        - value_selector:
          - conversation
          - scene
          value_type: string
          variable: current_scene
      height: 52
      id: '1776670000002'
      position:
        x: 1128
        y: 720
      positionAbsolute:
        x: 1128
        y: 720
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776670000002.output#}}'
        selected: false
        title: 反馈分类结果
        type: answer
        variables: []
      height: 84
      id: '1776665895831'
      position:
        x: 1128
        y: 900
      positionAbsolute:
        x: 1128
        y: 900
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: f1a2b3c4-5678-9abc-def0-1234567890ab
          role: system
          text: '从用户输入中提取场景信息。输出格式严格为JSON：

            {"scene": "提取的行业/产品类型", "reader_type": "提取的读者类型或空字符串"}


            场景提取规则：

            1. 从输入中识别行业类型（如电商/社交/金融/教育/AI/ToC/ToB等）

            2. 从输入中识别产品类型（如社交APP/电商平台/机器人等）

            3. 从输入中识别读者类型（如开发/运营/产品/设计等），无则填空字符串

            4. 合并行业和产品类型为scene字段，如"ToC社交APP"、"电商"、"金融行业"


            示例：

            输入：我在做ToC社交APP

            输出：{"scene": "ToC社交APP", "reader_type": ""}

            输入：我是做电商的，PRD主要给开发看

            输出：{"scene": "电商", "reader_type": "开发"}

            输入：金融行业，读者是运营团队

            输出：{"scene": "金融", "reader_type": "运营"}

            输入：做扫地机器人的

            输出：{"scene": "扫地机器人", "reader_type": ""}


            只输出JSON，不要输出其他内容。'
        selected: false
        structured_output_enabled: false
        title: 场景识别
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776665919302'
      position:
        x: 1739
        y: 575
      positionAbsolute:
        x: 1739
        y: 575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\nSCENE_ALIASES = {\n    '电子商务': '电商', '网购':\
          \ '电商', '购物': '电商',\n    '社交媒体': '社交', '社区': '社交', '交友': '社交',\n    '银行':\
          \ '金融', '保险': '金融', '证券': '金融', '支付': '金融',\n    '在线教育': '教育', '培训': '教育',\
          \ '学习': '教育',\n    '清洁机器人': '扫地机器人', '扫地机': '扫地机器人', '拖地机器人': '扫地机器人',\n\
          \    '智能家居': '智能家居', 'IoT': '智能家居',\n    '大模型': 'AI', '人工智能': 'AI', 'ChatGPT':\
          \ 'AI',\n    'SaaS': 'ToB', '企业服务': 'ToB', 'B2B': 'ToB',\n}\n\nSCENE_CORE_MAP\
          \ = {\n    '电商': '下单,支付,搜索,商品,购物车,退款,订单,物流,发货,收货,评价,优惠券,秒杀,库存,客服,售后',\n\
          \    '社交': '登录,发帖,聊天,消息,好友,动态,评论,点赞,分享,关注,私信,群聊,朋友圈,直播,视频通话',\n    '金融':\
          \ '转账,支付,登录,账户,交易,余额,理财,贷款,还款,账单,提现,充值,风控,开户,征信',\n    '教育': '登录,课程,视频,作业,考试,直播,报名,学习,题库,证书,进度,打卡,讲义,答疑',\n\
          \    '短视频': '播放,上传,评论,点赞,关注,搜索,直播,推荐,滤镜,剪辑,分享,收藏,带货,打赏',\n    '外卖': '下单,支付,配送,商家,菜单,订单,退款,地址,评价,优惠券,骑手,催单,加购',\n\
          \    '出行': '叫车,支付,导航,定位,行程,司机,订单,退款,预约,路线,拼车,打车,代驾',\n    '旅游': '搜索,预订,支付,酒店,机票,行程,退款,评价,攻略,签证,门票,客服,改签',\n\
          \    '医疗': '挂号,问诊,处方,支付,报告,预约,咨询,病历,用药,体检,保险,急救,医保',\n    '游戏': '登录,充值,匹配,加载,存档,联机,支付,活动,任务,商城,抽卡,更新,组队',\n\
          \    '办公': '登录,编辑,保存,分享,协作,搜索,模板,导出,同步,权限,评论,通知,审批',\n    '音乐': '播放,搜索,下载,收藏,歌单,会员,推荐,歌词,分享,上传,付费,音质,定时',\n\
          \    '阅读': '阅读,搜索,下载,书架,会员,推荐,评论,笔记,订阅,翻页,加载,购买,书签',\n    '云存储': '上传,下载,同步,分享,存储,备份,文件,搜索,预览,权限,链接,加密,回收站',\n\
          \    '邮箱': '收件,发件,搜索,附件,通讯录,垃圾邮件,标签,签名,转发,回复,草稿,日历',\n    '直播': '开播,观看,打赏,弹幕,连麦,关注,分享,充值,礼物,美颜,推流,回放,PK',\n\
          \    '社区': '发帖,评论,点赞,关注,搜索,分享,收藏,举报,私信,话题,推荐,通知,圈子',\n    '智能家居': '连接,控制,场景,自动化,设备,定时,联动,语音,远程,分享,固件,配网,分组,传感器,报警,监控,推送,通知,摄像头,门锁,开关,插座,温控',\n\
          \    '扫地机器人': '清扫,建图,充电,路径,避障,连接,回充,地图,导航,噪音,拖地,集尘,故障,安全,漏水,越障,配网,固件,吸力,尘盒,滚刷,边刷,水箱,基站,传感器,定时,禁区,地图编辑,语音,OTA',\n\
          \    '智能手表': '连接,同步,通知,运动,心率,支付,定位,消息,闹钟,表盘,续航,防水,睡眠',\n    '耳机': '连接,降噪,音质,蓝牙,佩戴,充电,通话,触控,切换,配对,延迟,续航,空间音频',\n\
          \    '手机': '通话,短信,相机,充电,网络,蓝牙,WiFi,指纹,面容,屏幕,系统,应用,信号',\n    '无人机': '飞行,拍摄,连接,遥控,定位,返航,图传,云台,电池,校准,固件,避障,跟随',\n\
          \    '智能门锁': '开锁,指纹,密码,APP,连接,电池,报警,临时密码,记录,分享,固件,刷卡,人脸',\n    '摄像头': '连接,监控,存储,回放,报警,夜视,云存,分享,对讲,移动追踪,固件,配网',\n\
          \    '投影仪': '投影,连接,对焦,音质,投屏,蓝牙,遥控,梯形校正,散热,灯泡,系统,信号',\n    '翻译机': '翻译,识别,连接,语音,拍照,离线,充电,蓝牙,词典,录音,语种,固件',\n\
          \    '学习机': '课程,作业,考试,点读,护眼,家长控制,下载,同步,搜索,打卡,错题,进度',\n    'ToB': '权限,审批,流程,管理,配置,组织,角色,数据,报表,集成,租户,工单,通知',\n\
          \    'CRM': '客户,线索,跟进,合同,报表,权限,提醒,导入,导出,搜索,标签,分配,公海',\n    '项目管理': '任务,进度,协作,看板,甘特,文档,成员,权限,提醒,统计,迭代,需求,缺陷',\n\
          \    'SaaS': '登录,权限,数据,报表,配置,集成,导入,导出,协作,通知,订阅,计费,API',\n    'ERP': '采购,库存,销售,财务,生产,订单,报表,审批,供应商,成本,出入库,对账',\n\
          \    'HR': '考勤,薪资,招聘,入职,绩效,请假,审批,组织,培训,社保,合同,排班',\n    'AI对话': '对话,生成,回答,理解,上下文,提示词,模型,推理,搜索,翻译,写作,编程,分析',\n\
          \    'AIGC': '生成,创作,提示词,模板,导出,编辑,风格,质量,版权,批量,定制,预览,历史',\n    '智能机器人': '交互,对话,导航,避障,识别,语音,控制,任务,充电,连接,固件,传感器,运动',\n\
          \    '智能汽车': '导航,辅助驾驶,语音,连接,充电,续航,OTA,座舱,泊车,预警,远程,车机,智驾',\n    '智能音箱': '语音,识别,播放,控制,连接,闹钟,提醒,技能,音质,唤醒,蓝牙,配网,声纹',\n\
          \    'VR': '沉浸,追踪,手柄,渲染,眩晕,画面,交互,空间,连接,内容,定位,刷新率,延迟',\n    'AR': '识别,叠加,追踪,渲染,交互,定位,标注,扫描,分享,内容,校准,空间,虚实融合',\n\
          \    '数字人': '生成,驱动,渲染,口型,表情,动作,语音,交互,定制,导出,模板,质量,延迟',\n    '智能客服': '对话,意图,转人工,知识库,多轮,工单,满意度,排队,转接,快捷回复,统计,质检',\n\
          \    '低代码': '拖拽,组件,流程,表单,数据,发布,权限,集成,模板,预览,部署,API,变量',\n    'RPA': '自动化,流程,执行,录制,调度,异常,日志,凭证,变量,触发,监控,报表,审批',\n\
          \    '智慧零售': '支付,库存,会员,营销,订单,供应链,数据,陈列,自助,配送,促销,核销,门店',\n    '智慧物流': '追踪,调度,配送,仓储,分拣,运输,签收,异常,计费,路由,监控,报表,通知',\n\
          \    '在线会议': '入会,音视频,屏幕共享,录制,聊天,白板,邀请,预约,美颜,虚拟背景,静音,参会',\n    '区块链': '交易,钱包,合约,转账,验证,节点,签名,密钥,上链,查询,授权,Gas,地址',\n\
          \    '智能穿戴': '连接,同步,监测,通知,运动,心率,血氧,睡眠,压力,续航,防水,表盘,提醒',\n    '宠物智能': '喂食,饮水,监控,互动,清洁,定位,健康,提醒,远程,定时,记录,固件,配网',\n\
          }\n\ndef normalize_scene(raw_scene):\n    scene = raw_scene.strip()\n  \
          \  if not scene:\n        return ''\n    for alias, standard in SCENE_ALIASES.items():\n\
          \        if alias in scene:\n            if standard not in scene:\n   \
          \             scene = scene.replace(alias, standard)\n    return scene[:30]\n\
          \ndef get_core_functions(scene):\n    for key, funcs in SCENE_CORE_MAP.items():\n\
          \        if key in scene:\n            return funcs\n    return ''\n\ndef\
          \ main(llm_output: str, current_scene: str, current_reader: str) -> dict:\n\
          \    new_scene = ''\n    new_reader = ''\n\n    try:\n        cleaned =\
          \ llm_output.strip()\n        if cleaned.startswith('```'):\n          \
          \  cleaned = cleaned.split('\\n', 1)[-1]\n            cleaned = cleaned.rsplit('```',\
          \ 1)[0]\n        cleaned = cleaned.strip()\n\n        brace_count = 0\n\
          \        start = -1\n        for i, c in enumerate(cleaned):\n         \
          \   if c == '{':\n                if brace_count == 0:\n               \
          \     start = i\n                brace_count += 1\n            elif c ==\
          \ '}':\n                brace_count -= 1\n                if brace_count\
          \ == 0 and start >= 0:\n                    data = json.loads(cleaned[start:i+1])\n\
          \                    break\n        else:\n            data = {}\n\n   \
          \     if data:\n            new_scene = str(data.get('scene', '')).strip()\n\
          \            new_reader = str(data.get('reader_type', '')).strip()\n   \
          \ except:\n        new_scene = ''\n        new_reader = ''\n\n    new_scene\
          \ = normalize_scene(new_scene)\n    new_reader = new_reader.strip()\n\n\
          \    final_scene = current_scene if current_scene else ''\n    final_reader\
          \ = current_reader if current_reader else ''\n\n    if new_scene:\n    \
          \    if final_scene and final_scene != new_scene:\n            if len(new_scene)\
          \ > len(final_scene):\n                final_scene = new_scene\n       \
          \     elif new_scene not in final_scene:\n                final_scene =\
          \ final_scene + '/' + new_scene\n        else:\n            final_scene\
          \ = new_scene\n\n    if new_reader:\n        final_reader = new_reader\n\
          \    elif not final_reader:\n        if any(k in final_scene for k in ['ToB',\
          \ 'SaaS', '企业']):\n            final_reader = '开发'\n        elif any(k in\
          \ final_scene for k in ['电商', '社交', '金融', '教育']):\n            final_reader\
          \ = '产品'\n        else:\n            final_reader = '产品'\n\n    if not final_scene:\n\
          \        final_scene = '未指定'\n    if not final_reader:\n        final_reader\
          \ = '产品'\n\n    core_funcs = get_core_functions(final_scene)\n    core_display\
          \ = f'核心功能：{core_funcs}。' if core_funcs else ''\n\n    return {\n      \
          \  'scene': final_scene,\n        'reader_type': final_reader,\n       \
          \ 'core_functions': core_display\n    }\n"
        code_language: python3
        outputs:
          core_functions:
            children: null
            type: string
          reader_type:
            children: null
            type: string
          scene:
            children: null
            type: string
        selected: false
        title: 场景JSON解析与更新
        type: code
        variables:
        - value_selector:
          - '1776665919302'
          - text
          value_type: string
          variable: llm_output
        - value_selector:
          - conversation
          - scene
          value_type: string
          variable: current_scene
        - value_selector:
          - conversation
          - reader_type
          value_type: string
          variable: current_reader
      height: 52
      id: '1776668700002'
      position:
        x: 1739
        y: 720
      positionAbsolute:
        x: 1739
        y: 720
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: ✅ 已记录场景：{{#1776668700002.scene#}}，读者类型：{{#1776668700002.reader_type#}}。{{#1776668700002.core_functions#}}请粘贴PRD片段或用户反馈开始检查。
        selected: false
        title: 场景确认回复
        type: answer
        variables: []
      height: 84
      id: '1776665940760'
      position:
        x: 1739
        y: 1060
      positionAbsolute:
        x: 1739
        y: 1060
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: ⚠️ 请输入有效的待检查内容。你可以粘贴PRD片段或用户反馈让我检查，也可以告诉我你的行业类型。
        selected: false
        title: 无效输入回复
        type: answer
        variables: []
      height: 84
      id: '1776666037112'
      position:
        x: 2268
        y: 604
      positionAbsolute:
        x: 2268
        y: 604
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\nimport csv\nimport io\n\nSCENE_CORE_MAP = {\n\
          \    '电商': '下单,支付,搜索,商品,购物车,退款,订单,物流,发货,收货,评价,优惠券,秒杀,库存,客服,售后',\n    '社交':\
          \ '登录,发帖,聊天,消息,好友,动态,评论,点赞,分享,关注,私信,群聊,朋友圈,直播,视频通话',\n    '金融': '转账,支付,登录,账户,交易,余额,理财,贷款,还款,账单,提现,充值,风控,开户,征信',\n\
          \    '教育': '登录,课程,视频,作业,考试,直播,报名,学习,题库,证书,进度,打卡,讲义,答疑',\n    '短视频': '播放,上传,评论,点赞,关注,搜索,直播,推荐,滤镜,剪辑,分享,收藏,带货,打赏',\n\
          \    '外卖': '下单,支付,配送,商家,菜单,订单,退款,地址,评价,优惠券,骑手,催单,加购',\n    '出行': '叫车,支付,导航,定位,行程,司机,订单,退款,预约,路线,拼车,打车,代驾',\n\
          \    '旅游': '搜索,预订,支付,酒店,机票,行程,退款,评价,攻略,签证,门票,客服,改签',\n    '医疗': '挂号,问诊,处方,支付,报告,预约,咨询,病历,用药,体检,保险,急救,医保',\n\
          \    '游戏': '登录,充值,匹配,加载,存档,联机,支付,活动,任务,商城,抽卡,更新,组队',\n    '办公': '登录,编辑,保存,分享,协作,搜索,模板,导出,同步,权限,评论,通知,审批',\n\
          \    '音乐': '播放,搜索,下载,收藏,歌单,会员,推荐,歌词,分享,上传,付费,音质,定时',\n    '阅读': '阅读,搜索,下载,书架,会员,推荐,评论,笔记,订阅,翻页,加载,购买,书签',\n\
          \    '云存储': '上传,下载,同步,分享,存储,备份,文件,搜索,预览,权限,链接,加密,回收站',\n    '邮箱': '收件,发件,搜索,附件,通讯录,垃圾邮件,标签,签名,转发,回复,草稿,日历',\n\
          \    '直播': '开播,观看,打赏,弹幕,连麦,关注,分享,充值,礼物,美颜,推流,回放,PK',\n    '社区': '发帖,评论,点赞,关注,搜索,分享,收藏,举报,私信,话题,推荐,通知,圈子',\n\
          \    '智能家居': '连接,控制,场景,自动化,设备,定时,联动,语音,远程,分享,固件,配网,分组,传感器,报警,监控,推送,通知,摄像头,门锁,开关,插座,温控',\n\
          \    '扫地机器人': '清扫,建图,充电,路径,避障,连接,回充,地图,导航,噪音,拖地,集尘,故障,安全,漏水,越障,配网,固件,吸力,尘盒,滚刷,边刷,水箱,基站,传感器,定时,禁区,地图编辑,语音,OTA',\n\
          \    '智能手表': '连接,同步,通知,运动,心率,支付,定位,消息,闹钟,表盘,续航,防水,睡眠',\n    '耳机': '连接,降噪,音质,蓝牙,佩戴,充电,通话,触控,切换,配对,延迟,续航,空间音频',\n\
          \    '手机': '通话,短信,相机,充电,网络,蓝牙,WiFi,指纹,面容,屏幕,系统,应用,信号',\n    '无人机': '飞行,拍摄,连接,遥控,定位,返航,图传,云台,电池,校准,固件,避障,跟随',\n\
          \    '智能门锁': '开锁,指纹,密码,APP,连接,电池,报警,临时密码,记录,分享,固件,刷卡,人脸',\n    '摄像头': '连接,监控,存储,回放,报警,夜视,云存,分享,对讲,移动追踪,固件,配网',\n\
          \    '投影仪': '投影,连接,对焦,音质,投屏,蓝牙,遥控,梯形校正,散热,灯泡,系统,信号',\n    '翻译机': '翻译,识别,连接,语音,拍照,离线,充电,蓝牙,词典,录音,语种,固件',\n\
          \    '学习机': '课程,作业,考试,点读,护眼,家长控制,下载,同步,搜索,打卡,错题,进度',\n    'ToB': '权限,审批,流程,管理,配置,组织,角色,数据,报表,集成,租户,工单,通知',\n\
          \    'CRM': '客户,线索,跟进,合同,报表,权限,提醒,导入,导出,搜索,标签,分配,公海',\n    '项目管理': '任务,进度,协作,看板,甘特,文档,成员,权限,提醒,统计,迭代,需求,缺陷',\n\
          \    'SaaS': '登录,权限,数据,报表,配置,集成,导入,导出,协作,通知,订阅,计费,API',\n    'ERP': '采购,库存,销售,财务,生产,订单,报表,审批,供应商,成本,出入库,对账',\n\
          \    'HR': '考勤,薪资,招聘,入职,绩效,请假,审批,组织,培训,社保,合同,排班',\n    'AI对话': '对话,生成,回答,理解,上下文,提示词,模型,推理,搜索,翻译,写作,编程,分析',\n\
          \    'AIGC': '生成,创作,提示词,模板,导出,编辑,风格,质量,版权,批量,定制,预览,历史',\n    '智能机器人': '交互,对话,导航,避障,识别,语音,控制,任务,充电,连接,固件,传感器,运动',\n\
          \    '智能汽车': '导航,辅助驾驶,语音,连接,充电,续航,OTA,座舱,泊车,预警,远程,车机,智驾',\n    '智能音箱': '语音,识别,播放,控制,连接,闹钟,提醒,技能,音质,唤醒,蓝牙,配网,声纹',\n\
          \    'VR': '沉浸,追踪,手柄,渲染,眩晕,画面,交互,空间,连接,内容,定位,刷新率,延迟',\n    'AR': '识别,叠加,追踪,渲染,交互,定位,标注,扫描,分享,内容,校准,空间,虚实融合',\n\
          \    '数字人': '生成,驱动,渲染,口型,表情,动作,语音,交互,定制,导出,模板,质量,延迟',\n    '智能客服': '对话,意图,转人工,知识库,多轮,工单,满意度,排队,转接,快捷回复,统计,质检',\n\
          \    '低代码': '拖拽,组件,流程,表单,数据,发布,权限,集成,模板,预览,部署,API,变量',\n    'RPA': '自动化,流程,执行,录制,调度,异常,日志,凭证,变量,触发,监控,报表,审批',\n\
          \    '智慧零售': '支付,库存,会员,营销,订单,供应链,数据,陈列,自助,配送,促销,核销,门店',\n    '智慧物流': '追踪,调度,配送,仓储,分拣,运输,签收,异常,计费,路由,监控,报表,通知',\n\
          \    '在线会议': '入会,音视频,屏幕共享,录制,聊天,白板,邀请,预约,美颜,虚拟背景,静音,参会',\n    '区块链': '交易,钱包,合约,转账,验证,节点,签名,密钥,上链,查询,授权,Gas,地址',\n\
          \    '智能穿戴': '连接,同步,监测,通知,运动,心率,血氧,睡眠,压力,续航,防水,表盘,提醒',\n    '宠物智能': '喂食,饮水,监控,互动,清洁,定位,健康,提醒,远程,定时,记录,固件,配网',\n\
          }\n\nGENERIC_CORE = ['崩溃', '闪退', '支付', '下单',\n                '登录', '注册',\
          \ '搜索', '连接',\n                '播放', '上传', '下载', '分享',\n               \
          \ '通知', '消息', '同步', '更新']\n\n\ndef _has_chinese(text):\n    return bool(re.search(r'[\\\
          u4e00-\\u9fff]', text))\n\n\ndef _detect_failure(text):\n    patterns =\
          \ [\n        r'(闪退|崩溃|死机|白屏|黑屏|卡死|罢工|瘫痪)',\n        r'(报错|故障|异常|失效|失灵)',\n\
          \        r'(失败|错误|不行|不能用|没法用|不可用)',\n        r'(连不上|断连|掉线|离线|断开)',\n   \
          \     r'(坏了|断了|碎了|烧了|短路|鼓包|烧了|裂了)',\n        r'(卡在|卡住|不动|停了|不转|出不来)',\n\
          \        r'(充不上|扫不了|建不了|回不了|打不开|关不掉|开不了|关不了)',\n        r'(识别不了|检测不到|不识别|没反应|没响应)',\n\
          \        r'(配网失败|连接失败|同步失败|保存失败|提交失败|发送失败|安装失败|更新失败|配对失败)',\n        r'(形同虚设|不管用|不起作用|误触发|不执行|不启动)',\n\
          \        r'(找不到基站|回不去|迷路|找不到)',\n        r'(漏水|渗水|泡坏|短路)',\n        r'(不起作用|没用|白搭|摆设)',\n\
          \        r'(撞墙|撞桌|磕坏|磕出)',\n        r'(吸进去|卷进去|打翻|涂满)',\n        r'(失效|不起作用|不执行|不工作)',\n\
          \        r'(经常不执行|不执行|不启动|不开机)',\n        r'(避障.*不行|避障.*差|避障.*摆设)',\n  \
          \      r'(加载不出|加载失败|页面空白|页面打不开)',\n        r'(请求超时|服务不可用|服务器错误|网络错误)',\n\
          \        r'(扣款失败|支付异常|下单失败|退款失败|充值失败)',\n        r'(登录失败|注册失败|验证失败|认证失败|授权失败)',\n\
          \        r'(数据丢失|同步异常|导出失败|导入失败)',\n        r'(加载中.*卡住|一直加载|转圈|白屏|页面崩溃)',\n\
          \        r'(识别率低|识别错|检测率低|误识别)',\n        r'(固件.*后.*[变差下降]|更新.*后.*[变差下降]|升级.*后.*[变差卡])',\n\
          \        r'(排序.*乱|导出.*错乱|拖拽.*错位)',\n        r'(丢失内容|翻译.*丢失|漏翻|漏译)',\n  \
          \      r'(断断续续|时断时续|时有时无)',\n        r'(松了|接触不良|断充|掉出来)',\n        r'(误报|误触|太灵敏|过度)',\n\
          \        r'(失控|突然.*[停失断])',\n        r'(被限流|被拦截|被删|不通过|不生效|不可靠)',\n    \
          \    r'(突然切歌|不同步|中断|没接单)',\n        r'(发不出去|红色感叹号|发不了)',\n        r'(等了.*分钟|耽误|到店说没有)',\n\
          \        r'(风控|限流|限制|拦截)',\n        r'(丢失|进度.*丢|数据.*没)',\n        r'(退出|经常退出|频繁退出|自动退出)',\n\
          \        r'(扣了.*费|乱扣|多扣|扣款)',\n        r'(不均匀|不一致)',\n        r'(不支持|不兼容|不认)',\n\
          \        r'(选不了|理解不了|操作不了)',\n        r'(有问题|算法.*问题)',\n    ]\n    for p\
          \ in patterns:\n        if re.search(p, text):\n            return True\n\
          \    return False\n\n\ndef _detect_perf_issue(text):\n    patterns = [\n\
          \        r'(卡顿|太卡|很卡|非常卡)',\n        r'(太慢|很慢|加载慢|响应慢|充电慢|速度慢)',\n     \
          \   r'(耗电|费电|掉电|发热|发烫|续航短|待机短|续航太短|衰减|掉得快)',\n        r'(延迟|无响应|效率[太很极]低)',\n\
          \        r'(衰减严重|越来越差|明显不如)',\n        r'(加载.*慢|缓冲.*次)',\n        r'(变卡|变慢|变差|变烂)',\n\
          \        r'(翻倍|耗电.*[快多翻]|掉电.*快)',\n        r'(帧率.*降|帧.*掉|掉帧|只有.*帧)',\n \
          \       r'(充.*小时.*扫.*小时|充电时间太长)',\n    ]\n    for p in patterns:\n     \
          \   if re.search(p, text):\n            return True\n    return False\n\n\
          \ndef _detect_exp_issue(text):\n    patterns = [\n        r'(太[麻烦蠢笨吵差贵丑]|不方便|不好用|难用|反人类)',\n\
          \        r'(在哪|不知道怎么|不会操作|不会用)',\n        r'(太差|垃圾|后悔|失望|不推荐|浪费|坑人|骗人|恶心|心疼|气死|吓死|烦死)',\n\
          \        r'(噪音|太吵|吵死|声音大|吵醒)',\n        r'(扫不干净|拖不干净|不智能|不紧凑|漏扫|死角)',\n\
          \        r'(乱跑|乱撞|重复|绕圈|转圈|打转|打滑)',\n        r'(缠绕|异味|发臭|发霉|发黑)',\n    \
          \    r'(太贵|用不起|耗材|占地方|碍事|太薄|太小)',\n        r'(客服|售后|态度|不理|没人处理|打不通|排队)',\n\
          \        r'(简陋|粗糙|麻烦|繁琐|不方便|费劲|太累|比.*还累)',\n        r'(越扫越脏|弄脏|弄坏|涂满)',\n\
          \        r'(变形|松动|脱落|氧化)',\n        r'(扣不紧|密封不好|接触不良)',\n        r'(忽大忽小|不稳定|不紧凑)',\n\
          \        r'(翻新|划痕|退货|退款|换新)',\n        r'(虚假宣传|货不对板|图文不符|与描述不符)',\n    \
          \    r'(杀熟|大数据|隐私|泄露|信息安全)',\n        r'(强制更新|强制广告|弹窗|推送太多)',\n        r'(操作复杂|步骤太多|流程太长|体验差)',\n\
          \        r'(太贵|手续费|涨了|比.*贵|白开|白买|白费|白跑)',\n        r'(太少|就那几个|没什么|没什么用)',\n\
          \        r'(缺失|没有.*按钮|限制太多|封闭|装不了)',\n        r'(起雾|虚标|缩水|降级)',\n      \
          \  r'(漂移|飘|偏了|歪了)',\n        r'(忽明忽暗|忽大忽小|忽快忽慢)',\n        r'(进水|泡坏|漏水|渗水)',\n\
          \        r'(太频繁|太复杂|太老|太严|噱头)',\n        r'(范围不够|不够.*但|但最大只能)',\n      \
          \  r'(算法.*问题|推荐.*不|不感兴趣)',\n        r'(全是.*翻唱|搜索结果.*不|匹配.*差|原唱.*找)',\n \
          \       r'(选不了|理解不了|不支持|不兼容)',\n        r'(不均匀|不一致)',\n        r'(有问题)',\n\
          \        r'(好几页|翻好几|找半天|才能找)',\n    ]\n    for p in patterns:\n        if\
          \ re.search(p, text):\n            return True\n    return False\n\n\ndef\
          \ _detect_content_issue(text):\n    patterns = [\n        r'(信息错误|显示异常|显示错|乱码)',\n\
          \        r'(地图不准|地图丢失|地图错误|定位不准)',\n        r'(不准|对不上)',\n        r'(内容过期|信息过时|数据旧|没更新)',\n\
          \        r'(图文不符|图片与实物|描述不符|虚假信息)',        r'(推荐不准|搜索结果不对|匹配错)',\n     \
          \   r'(太老|过时|过期|关门了)',\n        r'(不均匀|不一致)',\n        r'(推荐.*不|算法.*差|算法.*问题)',\n\
          \    ]\n    for p in patterns:\n        if re.search(p, text):\n       \
          \     return True\n    return False\n\n\ndef _is_core_function(text, scene):\n\
          \    for key, funcs in SCENE_CORE_MAP.items():\n        if key in scene:\n\
          \            return any(f in text for f in funcs.split(','))\n    return\
          \ any(k in text for k in GENERIC_CORE)\n\n\ndef _classify_type(text, scene):\n\
          \    has_failure = _detect_failure(text)\n    has_perf = _detect_perf_issue(text)\n\
          \    has_exp = _detect_exp_issue(text)\n    has_content = _detect_content_issue(text)\n\
          \    is_core = _is_core_function(text, scene)\n\n    if has_failure:\n \
          \       return '功能'\n    if has_perf and not has_exp:\n        return '性能'\n\
          \    if has_perf and has_exp:\n        if is_core:\n            return '性能'\n\
          \        return '体验'\n    if has_content and not has_exp:\n        return\
          \ '内容'\n    if has_exp:\n        return '体验'\n    if is_core and re.search(r'[不没]',\
          \ text):\n        return '功能'\n    if re.search(r'(太[低差贵慢卡烂坑烦吵暗热冷薄重累短长蠢笨麻烦]|不[准对灵稳匹配清晰完整及时方便靠谱合理正常准确智能好用专业执行启动一样到位给行好支持均匀认兼容]|[用找搜看听选理操]不[了到清]|越来越[差卡慢贵少]|什么都没|一点都|不支持|不兼容|不认|不均匀|不感兴趣|有问题|选不了|理解不了)',\
          \ text):\n        return '体验'\n    if re.search(r'[丢没]了|没了|不见了|退出|丢失', text):\n\
          \        return '功能'\n    return '其他'\n\n\ndef _classify_sentiment(text):\n\
          \    sarcasm_kw = ['太棒了', '真好用', '厉害了', '绝了', '完美', '太聪明了',\n          \
          \        '真是天才', '服了', '真行', '谢谢啊', '感恩']\n    is_sarcasm = any(k in text\
          \ for k in sarcasm_kw) and _detect_failure(text)\n\n    if is_sarcasm:\n\
          \        return '负'\n\n    neg_strong = ['垃圾', '太差', '难用', '太慢', '太卡', '太烂',\
          \ '太垃圾',\n                  '太差了', '太坑', '千万别', '不推荐', '浪费钱', '别买',\n  \
          \                '避雷', '后悔', '失望', '退款', '投诉', '恶心', '骗人',\n           \
          \       '坑人', '上当', '被坑', '忍不了', '受不了', '再也不',\n                  '废了',\
          \ '彻底', '离谱', '夸张', '过分', '假的',\n                  '根本不能', '完全不能', '不能用',\
          \ '没法用',\n                  '崩溃', '闪退', '死机', '着火', '漏电',\n            \
          \      '形同虚设', '气死', '吓死', '烦死',\n                  '太低了', '太差了', '太贵了',\
          \ '太少了', '太多了', '太小了', '太大了',\n                  '太慢了', '太卡了', '太烂了', '太坑了',\
          \ '太烦了',\n                  '太贵', '太难', '太低', '太高', '太差', '太慢', '太卡', '太烂',\
          \ '太坑', '太烦',\n                  '太吵', '太暗', '太热', '太冷', '太薄', '太重', '太累',\
          \ '太短', '太长',\n                  '用不了', '用不起', '用不上', '没法用', '不能用',\n  \
          \                '找不到', '搜不到', '看不清', '听不清',\n                  '不准', '不对',\
          \ '不灵', '不稳', '不匹配', '不清晰', '不完整',\n                  '不及时', '不方便', '不靠谱',\
          \ '不合理', '不正常', '不稳定',\n                  '不准确', '不智能', '不好用', '不专业', '不执行',\
          \ '不启动',\n                  '不一样', '不到位', '不给', '不行', '不好',\n          \
          \        '没了', '丢失', '丢了', '不见了',\n                  '虚标', '缩水', '降级', '衰减',\
          \ '退步',\n                  '白开', '白买', '白费', '白跑', '白忙',\n             \
          \     '趁火打劫', '杀熟', '坑人', '骗人', '忽悠',\n                  '进水', '起雾', '鼓包',\
          \ '变形', '松动', '脱落',\n                  '错位', '乱码', '错乱', '混乱',\n       \
          \           '断充', '断连', '掉线', '离线',\n                  '误报', '误触', '误触发',\
          \ '误识别',\n                    '卡粮', '卡住', '卡顿', '卡死',\n                \
          \  '模糊', '糊了', '花屏', '绿屏',\n                  '漂移', '飘了', '偏了', '歪了',\n\
          \                  '特别慢', '特别差', '特别卡', '特别烂',\n                  '变卡',\
          \ '变慢', '变差', '变烂',\n                  '翻倍', '不认', '不均匀', '不支持', '不兼容',\n\
          \                  '不感兴趣', '有问题', '选不了', '理解不了',\n                  '不认了',\
          \ '不一致',\n                  '太老', '太单一', '太旧']\n    neg_medium = ['不好',\
          \ '不行', '差', '烂', '坑', '烦', '不满',\n                  '严重', '故障', '缺陷', '错误',\
          \ '异常', '失败',\n                  '报错', '卡住', '失灵', '失效',\n             \
          \     '太麻烦', '不方便', '不稳定',\n                  '老是', '经常', '总是', '每次都', '反复',\n\
          \                  '鼓包', '变形', '脱落', '松动',\n                  '瘫痪', '混乱',\
          \ '简陋', '摆设', '反人类',\n                  '找不到', '迷路', '乱跑', '乱走',\n     \
          \             '太短', '太长', '太少', '太多', '太小', '太大',\n                  '延迟',\
          \ '缓冲', '扣了', '退出', '翻唱',\n                  '关门', '过时']\n    neg_weak =\
          \ ['不能', '没法', '无法', '不会', '不够']\n\n    pos_strong = ['满意', '优秀', '推荐',\
          \ '很棒', '超出预期', '完美', '很好', '不错']\n    pos_medium = ['好', '棒', '喜欢', '赞',\
          \ '好用', '方便', '挺好']\n\n    neg_score = 0\n    for k in neg_strong:\n   \
          \     if k in text:\n            neg_score += 3\n            break\n   \
          \ for k in neg_medium:\n        if k in text:\n            neg_score +=\
          \ 2\n            break\n    for k in neg_weak:\n        if k in text:\n\
          \            neg_score += 1\n            break\n    if neg_score == 0 and\
          \ _detect_failure(text):\n        neg_score = 2\n    if neg_score == 0 and\
          \ _detect_exp_issue(text):\n        neg_score = 1\n    if neg_score == 0\
          \ and _detect_content_issue(text):\n        neg_score = 1\n    if neg_score\
          \ == 0 and _detect_perf_issue(text):\n        neg_score = 1\n    if neg_score\
          \ == 0:\n        neg_patterns = [\n            r'太[低差贵慢卡烂坑烦吵暗热冷薄重累短长蠢笨麻烦]',\n\
          \            r'不[准对灵稳匹配清晰完整及时方便靠谱合理正常准确智能好用专业执行启动一样到位给行好支持均匀认兼容]',\n   \
          \         r'[用找搜看听选理操]不[了到清]',\n            r'[丢没]了',\n                \
          \        r'太.*了',\n            r'一直.*[卡等没不]',\n            r'每次.*[都就]',\n\
          \            r'经常.*[不卡掉断]',\n            r'总是.*[不卡掉断]',\n            r'还是.*[不没卡]',\n\
          \            r'根本.*[不没]',\n            r'完全.*[不没不同]',\n            r'什么都没',\n\
          \            r'一点都.*[不没]',\n            r'越来越.*[差卡慢贵少]',\n            r'被[限拦删封]',\n\
          \            r'(不可靠|不生效|不可用)',\n            r'(耽误|白费|浪费)',\n           \
          \ r'特别[慢差卡烂]',\n            r'变[卡慢差烂]',\n            r'耗电.*[快多翻倍]',\n  \
          \          r'延迟.*\\d',\n            r'扣了.*费',\n            r'不感兴趣',\n  \
          \          r'有问题',\n            r'不支持|不兼容|不认',\n            r'不均匀|不一致',\n\
          \            r'选不了|理解不了|操作不了',\n            r'翻倍',\n            r'退出',\n\
          \        ]\n        for p in neg_patterns:\n            if re.search(p,\
          \ text):\n                neg_score = 2\n                break\n\n    neg_context_patterns\
          \ = [\n            r'推荐.*不感兴趣|推荐.*不好|推荐.*不对|推荐.*差|推荐.*重复|推荐.*单一|推荐.*老|推荐.*过时|推荐.*关门',\n\
          \            r'好评.*假|好评.*刷|好评.*不真实|好评.*水军',\n            r'全是.*不|全是.*假|全是.*错|全是.*翻唱|全是.*重复',\n\
          \            r'不错.*但|挺好.*但|好用.*但|方便.*但',\n            r'满意.*但|优秀.*但|喜欢.*但',\n\
          \        ]\n    has_neg_context = False\n    for p in neg_context_patterns:\n\
          \        if re.search(p, text):\n            has_neg_context = True\n  \
          \          break\n\n    pos_score = 0\n    if not has_neg_context:\n   \
          \     for k in pos_strong:\n            if k in text:\n                pos_score\
          \ += 3\n                break\n        for k in pos_medium:\n          \
          \  if k in text:\n                pos_score += 1\n                break\n\
          \n    if neg_score > pos_score:\n        return '负'\n    elif pos_score\
          \ > neg_score:\n        return '正'\n    elif neg_score > 0:\n        return\
          \ '负'\n    else:\n        return '中'\n\n\ndef _classify_priority(text, ptype,\
          \ sentiment, scene):\n    is_core = _is_core_function(text, scene)\n   \
          \ has_failure = _detect_failure(text)\n    has_severe = bool(re.search(r'(崩溃|闪退|不可用|死机|白屏|黑屏|完全不能用|彻底坏了|着火|爆炸|伤人|危险|冒烟|漏电|卡死|断裂|碎了|鼓包|烧了|泡坏|涂满|吓死|气死)',\
          \ text))\n    has_paid = bool(re.search(r'(会员|VIP|充值|付费|订阅|充了|花钱)', text))\n\
          \    has_damage = bool(re.search(r'(泡坏|磕坏|磕出|弄坏|打碎|摔坏|烧了|断了|碎了|变形|裂了)',\
          \ text))\n\n    if has_severe and sentiment == '负':\n        return '高'\n\
          \    if has_paid and ptype == '功能' and has_failure:\n        return '高'\n\
          \    if has_damage and is_core:\n        return '高'\n    if ptype == '功能'\
          \ and has_failure and is_core and sentiment == '负':\n        return '高'\n\
          \    if ptype == '性能' and is_core and sentiment == '负':\n        return\
          \ '高'\n    if ptype == '功能' and has_failure and not is_core:\n        return\
          \ '中'\n    if ptype == '功能' and not has_failure:\n        return '中'\n \
          \   if ptype == '体验' and sentiment == '负':\n        strong_neg = bool(re.search(r'(垃圾|太差|后悔|失望|投诉|恶心|骗人|坑人|再也不|再也不买)',\
          \ text))\n        if strong_neg and is_core:\n            return '高'\n \
          \       if strong_neg:\n            return '中'\n        return '低'\n   \
          \ if ptype == '性能' and sentiment == '负':\n        return '中'\n    if ptype\
          \ == '内容' and sentiment == '负':\n        return '中'\n    if sentiment ==\
          \ '负':\n        return '中'\n    return '低'\n\n\ndef _extract_need(text):\n\
          \    for prefix in ['能不能加', '能不能有', '希望能', '希望有', '想要', '想加', '建议加', '建议增加',\
          \ '能不能支持', '希望支持', '建议支持']:\n        if prefix in text:\n            idx\
          \ = text.index(prefix) + len(prefix)\n            need = text[idx:idx+10].strip().rstrip('。，！？、')\n\
          \            if need:\n                return need\n    mappings = [\n \
          \       (r'登录.*(?:每次|重新|反复|一直)', '记住登录状态'),\n        (r'(?:噪音|吵)', '降噪处理'),\n\
          \        (r'(?:找不到|在哪)', '优化导航入口'),\n        (r'(?:漏水|渗水)', '防水设计'),\n \
          \       (r'(?:太慢|很慢)', '性能优化'),\n        (r'(?:没有提醒|没通知)', '通知提醒'),\n  \
          \      (r'(?:不能导出|无法导出)', '导出功能'),\n        (r'(?:不能批量|一个个)', '批量操作'),\n\
          \    ]\n    for pattern, need in mappings:\n        if re.search(pattern,\
          \ text):\n            return need\n    return '无'\n\n\ndef _extract_tags(text):\n\
          \    tags = []\n    if re.search(r'(会员|VIP|充值|付费|订阅|充了|花钱)', text):\n  \
          \      tags.append('付费')\n    if re.search(r'(刚买|刚下载|第一次|新手)', text):\n\
          \        tags.append('新')\n    if re.search(r'(用了很久|好几年|老用户|用了三年|用了两年)',\
          \ text):\n        tags.append('老')\n    if re.search(r'(每天|天天|日常)', text):\n\
          \        tags.append('高频')\n    return tags\n\n\ndef _detect_scene(items):\n\
          \    scene_scores = {}\n    for scene_key, funcs in SCENE_CORE_MAP.items():\n\
          \        keywords = funcs.split(',')\n        score = 0\n        for item\
          \ in items:\n            for kw in keywords:\n                if kw in item:\n\
          \                    score += 1\n        if score > 0:\n            scene_scores[scene_key]\
          \ = score\n    if not scene_scores:\n        return ''\n    max_score =\
          \ max(scene_scores.values())\n    top_scenes = [s for s, sc in scene_scores.items()\
          \ if sc == max_score]\n    if len(top_scenes) == 1:\n        return top_scenes[0]\n\
          \    for s in top_scenes:\n        if s in ['电商', '社交', '金融', '教育', '外卖',\
          \ '出行', '游戏', '办公']:\n            return s\n    return top_scenes[0]\n\n\
          \ndef _detect_item_scene(text):\n    best_scene = ''\n    best_score = 0\n\
          \    for scene_key, funcs in SCENE_CORE_MAP.items():\n        keywords =\
          \ funcs.split(',')\n        score = sum(1 for kw in keywords if kw in text)\n\
          \        if score > best_score:\n            best_score = score\n      \
          \      best_scene = scene_key\n    if best_score >= 1:\n        return best_scene\n\
          \    return ''\n\n\ndef _clean_text(text):\n    text = re.sub(r'[\\uff5c\\\
          u2502]\\s*\\d+\\s*[\\uff5c\\u2502]', '', text)\n    text = re.sub(r'[\\\
          uff5c\\u2502]\\s*[^\\uff5c\\u2502]+[\\uff5c\\u2502]\\s*$', '', text)\n \
          \   text = re.sub(r'^[\\uff5c\\u2502]\\s*', '', text)\n    text = re.sub(r'\\\
          s*[\\uff5c\\u2502]\\s*$', '', text)\n    text = re.sub(r'[\\uff5c\\u2502]',\
          \ '', text)\n    text = text.strip()\n    return text\n\n\ndef main(file_content:\
          \ str) -> dict:\n    items = []\n    item_categories = []\n    if file_content\
          \ is None:\n        return {'output': json.dumps({'error': '未接收到文件内容，请确保上传了文件',\
          \ 'items': [], 'total': 0}, ensure_ascii=False), 'total': 0}\n    if isinstance(file_content,\
          \ list):\n        file_content = '\\n'.join(str(x) for x in file_content\
          \ if x)\n    content = str(file_content).strip()\n    if not content:\n\
          \        return {'output': json.dumps({'error': '文件内容为空，请确保上传了有效的文件', 'items':\
          \ [], 'total': 0}, ensure_ascii=False), 'total': 0}\n\n    content = content.lstrip('\\\
          ufeff')\n    if '```' in content:\n        code_match = re.search(r'```(?:csv|json|txt)?\\\
          s*\\n(.*?)```', content, re.DOTALL)\n        if code_match:\n          \
          \  content = code_match.group(1).strip()\n\n    first_line = content.split('\\\
          n')[0].strip()\n    if first_line:\n        is_csv_header = ',' in first_line\
          \ and any(h in first_line.lower() for h in ['id', 'text', 'content', 'category',\
          \ 'feedback', 'review', 'comment', '序号', '反馈', '评价', '评论', '问题类型', '类型',\
          \ '情绪', '优先级'])\n        is_tsv_header = '\\t' in first_line and any(h in\
          \ first_line.lower() for h in ['id', 'text', 'content', 'category', 'feedback',\
          \ '序号', '反馈'])\n        is_md_header = first_line.startswith('|') and '---'\
          \ not in first_line and any(h in first_line.lower() for h in ['序号', '反馈',\
          \ 'id', 'content', 'category'])\n        is_md_separator = first_line.startswith('|')\
          \ and '---' in first_line\n        if is_csv_header or is_tsv_header or\
          \ is_md_header or is_md_separator:\n            content = '\\n'.join(content.split('\\\
          n')[1:]).strip()\n        elif not first_line.startswith('[') and not first_line.startswith('{'):\n\
          \            if not any(c in first_line for c in ['，', '。', '！', '？', '、']):\n\
          \                if len(first_line) < 100 and not any(k in first_line for\
          \ k in ['坏了', '差', '问题', '反馈', '报错', '闪退', '垃圾', '功能', '模块', '需求', '用户',\
          \ '系统', '管理', '登录', '注册', '埋点', '验收']):\n                    content = '\\\
          n'.join(content.split('\\n')[1:]).strip()\n\n    second_line = content.split('\\\
          n')[0].strip() if content.split('\\n') else ''\n    if second_line.startswith('|')\
          \ and '---' in second_line:\n        content = '\\n'.join(content.split('\\\
          n')[1:]).strip()\n\n    if content.startswith('['):\n        try:\n    \
          \        data = json.loads(content)\n            if isinstance(data, list):\n\
          \                for item in data:\n                    if isinstance(item,\
          \ dict):\n                        text = item.get('text', '') or item.get('content',\
          \ '') or item.get('feedback', '') or item.get('review', '') or item.get('comment',\
          \ '')\n                        text = str(text)\n                    else:\n\
          \                        text = str(item)\n                    if text.strip():\n\
          \                        items.append(text.strip())\n                  \
          \      item_categories.append('')\n        except:\n            pass\n\n\
          \    is_markdown = bool(re.search(r'^#{1,4}\\s+', content, re.MULTILINE))\n\
          \n    if not items and not is_markdown:\n        try:\n            reader\
          \ = csv.reader(io.StringIO(content))\n            header_skipped = False\n\
          \            cat_col = -1\n            for row in reader:\n            \
          \    if not row:\n                    continue\n                if not header_skipped:\n\
          \                    header_skipped = True\n                    row_text\
          \ = ''.join(row).lower()\n                    for ci, cell in enumerate(row):\n\
          \                        cl = cell.strip().lower()\n                   \
          \     if any(h in cl for h in ['category', '类别', '产品类别', '产品类型', '行业', '场景',\
          \ '分类']):\n                            cat_col = ci\n                  \
          \          break\n                    if any(h in row_text for h in ['id',\
          \ 'text', 'content', '序号', '反馈', 'category', 'feedback', 'review', 'comment',\
          \ '评价', '评论', '问题类型', '类型', '情绪', '优先级']):\n                        continue\n\
          \                    if row_text.replace(',', '').replace(' ', '').replace('-',\
          \ '').replace('_', '').isdigit():\n                        continue\n  \
          \              text = ''\n                cat = ''\n                if len(row)\
          \ >= 2:\n                    text = row[1].strip()\n                   \
          \ if cat_col >= 0 and cat_col < len(row):\n                        cat =\
          \ row[cat_col].strip()\n                elif len(row) == 1:\n          \
          \          text = row[0].strip()\n                if text and len(text)\
          \ > 1:\n                    items.append(text)\n                    item_categories.append(cat)\n\
          \        except:\n            pass\n\n    if not items:\n        lines =\
          \ content.split('\\n')\n        for line in lines:\n            line = line.strip()\n\
          \            if not line:\n                continue\n            if re.match(r'^[\\\
          d#\\-=|]+$', line):\n                continue\n            if '---' in line\
          \ and line.startswith('|'):\n                continue\n            if any(h\
          \ in line.lower() for h in ['id', 'text', 'content', '序号', '反馈内容', '---',\
          \ 'category', 'source', 'brand', '编号', '评论内容', '评价内容', '问题类型', '反馈', '用户反馈']):\n\
          \                continue\n            if '\\t' in line and len(line.split('\\\
          t')) >= 3:\n                parts = line.split('\\t')\n                text\
          \ = parts[1].strip() if len(parts) > 1 else ''\n                if text\
          \ and len(text) > 2:\n                    items.append(text)\n         \
          \           item_categories.append('')\n            else:\n            \
          \    text = line.strip().strip('\"').strip(\"'\")\n                if text\
          \ and len(text) > 1:\n                    items.append(text)\n         \
          \           item_categories.append('')\n\n    filtered = []\n    filtered_cats\
          \ = []\n    for idx, item in enumerate(items):\n        if len(item) < 3:\n\
          \            continue\n        if re.match(r'^[\\d\\s,.\\-|/\\\\]+$', item):\n\
          \            continue\n        if not _has_chinese(item):\n            continue\n\
          \        filtered.append(item)\n        filtered_cats.append(item_categories[idx]\
          \ if idx < len(item_categories) else '')\n    items = filtered\n    item_categories\
          \ = filtered_cats\n\n    if not items:\n        return {'output': json.dumps({'error':\
          \ '未能从文件中提取到任何反馈内容，请确保文件格式为CSV/JSON/TXT，且包含反馈文本列', 'items': [], 'total':\
          \ 0}, ensure_ascii=False), 'total': 0}\n\n    scene = _detect_scene(items)\n\
          \n    results = []\n    for i, raw_text in enumerate(items):\n        text\
          \ = _clean_text(raw_text)\n        csv_cat = item_categories[i] if i < len(item_categories)\
          \ else ''\n        item_scene = csv_cat if csv_cat else (_detect_item_scene(text)\
          \ or scene)\n        ptype = _classify_type(text, item_scene)\n        sentiment\
          \ = _classify_sentiment(text)\n        priority = _classify_priority(text,\
          \ ptype, sentiment, item_scene)\n        need = _extract_need(text)\n  \
          \      tags = _extract_tags(text)\n\n        type_full = {'功能': '功能问题',\
          \ '性能': '性能问题', '体验': '体验问题', '内容': '内容问题', '其他': '其他'}.get(ptype, ptype)\n\
          \        sentiment_full = {'正': '正向', '负': '负向', '中': '中性'}.get(sentiment,\
          \ sentiment)\n        tag_str = ' '.join(['[付费用户]' if t == '付费' else '[新用户]'\
          \ if t == '新' else '[老用户]' if t == '老' else '[高频用户]' if t == '高频' else t\
          \ for t in tags])\n\n        results.append({\n            'idx': i + 1,\n\
          \            'text': text[:50],\n            'type': type_full,\n      \
          \      'sentiment': sentiment_full,\n            'priority': priority,\n\
          \            'need': need,\n            'tags': tag_str\n        })\n\n\
          \    output_data = {\n        'error': '',\n        'items': results,\n\
          \        'total': len(results)\n    }\n    return {'output': json.dumps(output_data,\
          \ ensure_ascii=False), 'total': len(results)}\n"
        code_language: python3
        outputs:
          output:
            children: null
            type: string
          total:
            children: null
            type: number
        selected: false
        title: 批量分类
        type: code
        variables:
        - value_selector:
          - '1776680000004'
          - text
          value_type: array[string]
          variable: file_content
      height: 88
      id: '1776680000001'
      position:
        x: 2200
        y: 575
      positionAbsolute:
        x: 2200
        y: 575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport csv\nimport io\n\ndef main(batch_output: str) ->\
          \ dict:\n    try:\n        data = json.loads(batch_output)\n    except:\n\
          \        return {'output': '⚠️ 数据解析失败，请重试。'}\n\n    if data.get('error'):\n\
          \        return {'output': f\"⚠️ {data['error']}\"}\n\n    items = data.get('items',\
          \ [])\n    if not items:\n        return {'output': '⚠️ 未能解析任何反馈数据。请确保文件格式正确（CSV/JSON/TXT，每行一条反馈）。'}\n\
          \n    type_map = {'功能': '功能问题', '性能': '性能问题', '体验': '体验问题', '内容': '内容问题',\
          \ '其他': '其他'}\n    sentiment_map = {'正': '正向', '负': '负向', '中': '中性'}\n \
          \   tag_map = {'付费': '[付费用户]', '新': '[新用户]', '老': '[老用户]', '高频': '[高频用户]'}\n\
          \n    for item in items:\n        item['type'] = type_map.get(item['type'],\
          \ item['type'])\n        item['sentiment'] = sentiment_map.get(item['sentiment'],\
          \ item['sentiment'])\n        raw_tags = item.get('tags', '')\n        if\
          \ raw_tags:\n            item['tags'] = ' '.join(tag_map.get(t.strip(),\
          \ t.strip()) for t in raw_tags.split(',') if t.strip())\n        else:\n\
          \            item['tags'] = ''\n\n    total = len(items)\n    type_counts\
          \ = {}\n    sentiment_counts = {}\n    priority_counts = {}\n    for item\
          \ in items:\n        type_counts[item['type']] = type_counts.get(item['type'],\
          \ 0) + 1\n        sentiment_counts[item['sentiment']] = sentiment_counts.get(item['sentiment'],\
          \ 0) + 1\n        priority_counts[item['priority']] = priority_counts.get(item['priority'],\
          \ 0) + 1\n\n    high_items = [i for i in items if i['priority'] == '高']\n\
          \n    csv_buf = io.StringIO()\n    csv_writer = csv.writer(csv_buf)\n  \
          \  csv_writer.writerow(['序号', '反馈内容', '问题类型', '情绪', '优先级', '隐含需求', '用户标签'])\n\
          \    for item in items:\n        csv_writer.writerow([\n            item['idx'],\n\
          \            item['text'],\n            item['type'],\n            item['sentiment'],\n\
          \            item['priority'],\n            item.get('need', '无') if item.get('need')\
          \ and item['need'] != '无' else '',\n            item.get('tags', '')\n \
          \       ])\n    csv_content = csv_buf.getvalue()\n\n    report = []\n  \
          \  report.append(f'## \U0001F4CA 统计摘要（共{total}条）')\n    report.append('')\n\
          \    report.append(f'**总计：{total} 条反馈**')\n    report.append('')\n\n   \
          \ report.append('### 问题类型分布')\n    for t in ['功能问题', '性能问题', '体验问题', '内容问题',\
          \ '其他']:\n        c = type_counts.get(t, 0)\n        pct = c / total * 100\
          \ if total > 0 else 0\n        bar = '█' * int(pct / 5) + '░' * (20 - int(pct\
          \ / 5))\n        report.append(f'- {t}：{c}条 ({pct:.1f}%) {bar}')\n    report.append('')\n\
          \n    report.append('### 情绪分布')\n    for s in ['负向', '中性', '正向']:\n    \
          \    c = sentiment_counts.get(s, 0)\n        pct = c / total * 100 if total\
          \ > 0 else 0\n        bar = '█' * int(pct / 5) + '░' * (20 - int(pct / 5))\n\
          \        report.append(f'- {s}：{c}条 ({pct:.1f}%) {bar}')\n    report.append('')\n\
          \n    report.append('### 优先级分布')\n    for p, emoji in [('高', '\U0001F534\
          '), ('中', '\U0001F7E1'), ('低', '\U0001F7E2')]:\n        c = priority_counts.get(p,\
          \ 0)\n        pct = c / total * 100 if total > 0 else 0\n        bar = '█'\
          \ * int(pct / 5) + '░' * (20 - int(pct / 5))\n        report.append(f'-\
          \ {emoji}{p}：{c}条 ({pct:.1f}%) {bar}')\n\n    if high_items:\n        report.append('')\n\
          \        report.append(f'### ⚠️ 高优先级反馈（{len(high_items)}条）')\n        for\
          \ item in high_items[:30]:\n            report.append(f'- [{item[\"type\"\
          ]}] {item[\"text\"]}')\n        if len(high_items) > 30:\n            report.append(f'-\
          \ ... 还有{len(high_items) - 30}条高优先级反馈')\n\n    report.append('')\n    report.append('---')\n\
          \    report.append('')\n    report.append(f'## \U0001F4CB 逐条标注结果')\n   \
          \ report.append('')\n    report.append('| 序号 | 反馈内容 | 问题类型 | 情绪 | 优先级 |\
          \ 隐含需求 | 用户标签 |')\n    report.append('| --- | --- | --- | --- | --- | ---\
          \ | --- |')\n    for item in items:\n        need_str = item.get('need',\
          \ '') if item.get('need') and item['need'] != '无' else ''\n        tag_str\
          \ = item.get('tags', '')\n        text_esc = item['text'].replace('|', '｜')\n\
          \        report.append(f\"| {item['idx']} | {text_esc} | {item['type']}\
          \ | {item['sentiment']} | {item['priority']} | {need_str} | {tag_str} |\"\
          )\n\n    report.append('')\n    report.append('---')\n    report.append('')\n\
          \    report.append('## \U0001F4E5 导出数据')\n    report.append('')\n    report.append('复制以下CSV内容，粘贴到记事本保存为\
          \ `.csv` 文件，即可用Excel打开：')\n    report.append('')\n    report.append('```csv')\n\
          \    report.append(csv_content.strip())\n    report.append('```')\n    report.append('')\n\
          \    report.append('\U0001F4A1 如需对某条反馈做更精确的分类，请单独粘贴该条内容。')\n\n    return\
          \ {'output': '\\n'.join(report)}\n"
        code_language: python3
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: 批量结果汇总
        type: code
        variables:
        - value_selector:
          - '1776680000001'
          - output
          value_type: string
          variable: batch_output
      height: 52
      id: '1776680000002'
      position:
        x: 2200
        y: 720
      positionAbsolute:
        x: 2200
        y: 720
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776680000002.output#}}'
        selected: false
        title: 批量结果输出
        type: answer
        variables: []
      height: 84
      id: '1776680000003'
      position:
        x: 2200
        y: 900
      positionAbsolute:
        x: 2200
        y: 900
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport csv\nimport io\nimport re\n\ndef main(file_content:\
          \ str) -> dict:\n    items = []\n    if file_content is None:\n        return\
          \ {'formatted_output': '未接收到文件内容，请确保上传了文件', 'total': 0}\n    if isinstance(file_content,\
          \ list):\n        file_content = '\\n'.join(str(x) for x in file_content\
          \ if x)\n    content = str(file_content).strip()\n    if not content:\n\
          \        return {'formatted_output': '文件内容为空，请确保上传了有效的文件', 'total': 0}\n\
          \n    content = content.lstrip('\\ufeff')\n    if '```' in content:\n  \
          \      code_match = re.search(r'```(?:csv|json|txt)?\\s*\\n(.*?)```', content,\
          \ re.DOTALL)\n        if code_match:\n            content = code_match.group(1).strip()\n\
          \    first_line = content.split('\\n')[0].strip()\n    if first_line and\
          \ not first_line.startswith('[') and not first_line.startswith('{') and\
          \ ',' not in first_line and '\\t' not in first_line and not first_line.startswith('#'):\n\
          \        if not any(c in first_line for c in ['，', '。', '！', '？', '、']):\n\
          \            if len(first_line) < 100 and not any(k in first_line for k\
          \ in ['坏了', '差', '问题', '反馈', '报错', '闪退', '垃圾', '功能', '模块', '需求', '用户', '系统',\
          \ '管理', '登录', '注册', '埋点', '验收']):\n                content = '\\n'.join(content.split('\\\
          n')[1:]).strip()\n\n\n    if content.startswith('['):\n        try:\n  \
          \          data = json.loads(content)\n            if isinstance(data, list):\n\
          \                for item in data:\n                    if isinstance(item,\
          \ dict):\n                        text = item.get('prd_content', '') or\
          \ item.get('content', '') or item.get('text', '') or item.get('feedback',\
          \ '') or ''\n                        text = str(text)\n                \
          \    else:\n                        text = str(item)\n                 \
          \   if text.strip() and len(text.strip()) > 5:\n                       \
          \ items.append(text.strip())\n        except:\n            pass\n\n    is_markdown\
          \ = bool(re.search(r'^#{1,4}\\s+', content, re.MULTILINE))\n\n    if not\
          \ items and not is_markdown:\n        try:\n            reader = csv.reader(io.StringIO(content))\n\
          \            header_skipped = False\n            prd_col_idx = -1\n    \
          \        for row in reader:\n                if not row:\n             \
          \       continue\n                if not header_skipped:\n             \
          \       header_skipped = True\n                    row_text = ''.join(row).lower()\n\
          \                    for idx, cell in enumerate(row):\n                \
          \        cell_lower = cell.strip().lower()\n                        if any(h\
          \ in cell_lower for h in ['prd', 'content', 'feedback', 'text', '内容', '反馈',\
          \ '需求', '描述']):\n                            prd_col_idx = idx\n       \
          \                     break\n                    if any(h in row_text for\
          \ h in ['id', 'text', 'content', '序号', '反馈', 'category', 'prd', 'expected',\
          \ '预期']):\n                        continue\n                text = ''\n\
          \                if prd_col_idx >= 0 and prd_col_idx < len(row):\n     \
          \               text = row[prd_col_idx].strip()\n                elif len(row)\
          \ >= 2:\n                    text = row[1].strip()\n                elif\
          \ len(row) == 1:\n                    text = row[0].strip()\n          \
          \      if text and len(text) > 5:\n                    items.append(text)\n\
          \        except:\n            pass\n\n    if not items:\n        has_md_heading\
          \ = bool(re.search(r'^#{1,4}\\s+', content, re.MULTILINE))\n        has_numbered_section\
          \ = bool(re.search(r'^#{1,4}\\s+\\d+[\\.、]', content, re.MULTILINE))\n \
          \       has_horizontal_rule = bool(re.search(r'^---+$', content, re.MULTILINE))\n\
          \n        if has_md_heading or has_numbered_section:\n            content_cleaned\
          \ = re.sub(r'^# [^\\n]+\\n*', '', content).strip()\n            content_cleaned\
          \ = re.sub(r'(#{1,4}\\s+[^\\n]+)\\n\\n', r'\\1\\n', content_cleaned)\n \
          \           sections = re.split(r'\\n(?=#{1,4}\\s+)', content_cleaned)\n\
          \            for sec in sections:\n                sec = sec.strip()\n \
          \               sec = re.sub(r'^#{1,4}\\s+\\d+[\\.、]?\\s*', '', sec).strip()\n\
          \                sec = re.sub(r'^#{1,4}\\s+', '', sec).strip()\n       \
          \         if sec and len(sec) > 10:\n                    items.append(sec)\n\
          \        elif has_horizontal_rule:\n            sections = re.split(r'\\\
          n---+\\n', content)\n            for sec in sections:\n                sec\
          \ = sec.strip()\n                if sec and len(sec) > 10:\n           \
          \         items.append(sec)\n        else:\n            paragraphs = re.split(r'\\\
          n{2,}', content)\n            for p in paragraphs:\n                p =\
          \ p.strip()\n                p = re.sub(r'^#{1,4}\\s+', '', p).strip()\n\
          \                if p and len(p) > 10:\n                    items.append(p)\n\
          \n    formatted = ''\n    for i, item in enumerate(items):\n        formatted\
          \ += f'\\n=== PRD #{i+1} ===\\n{item}\\n'\n\n    return {'formatted_output':\
          \ formatted.strip(), 'total': len(items)}\n"
        code_language: python3
        outputs:
          formatted_output:
            children: null
            type: string
          total:
            children: null
            type: number
        selected: false
        title: PRD批量格式化
        type: code
        variables:
        - value_selector:
          - '1776680000007'
          - text
          value_type: array[string]
          variable: file_content
      height: 88
      id: '1776680000005'
      position:
        x: 700
        y: 575
      positionAbsolute:
        x: 700
        y: 575
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - wgCVTKOew1MVUS8jx5j9Ljn9irA4RHAgVG+eK+rGfqe0aZmPCYhvoiuyDGFdD8u7
        query_attachment_selector: []
        query_variable_selector:
        - '1776648944081'
        - sys.query
        retrieval_mode: single
        selected: true
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
        title: 📚知识库-PRD规范检查(批量)
        type: knowledge-retrieval
      height: 90
      id: '1776690000003'
      position:
        x: 700
        y: 400
      positionAbsolute:
        x: 700
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776690000003'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}

            {{#1776680000005.formatted_output#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: batch-prd-system-001
          role: system
          text: '你是 SpecMark，产品规范标记工具。你正在批量检查多条PRD。


            ## 关键认知（必须遵守）

            场景错配P1仅适用于ToB专属业务术语（多租户/SSO/RBAC/审批流/部门管理/组织架构/角色权限）。以下技术实现术语不是ToB专属术语，绝对不可判为场景错配🔴高，必须标注为⚠️未收录术语🟡中：Webhook、OAuth2.0、API、CDN、Redis、MySQL、微服务、Token、SDK、REST、GraphQL、WebSocket


            ## 当前场景

            行业/产品类型：{{#conversation.scene#}}

            读者类型：{{#conversation.reader_type#}}


            ## 批量检查规则

            用户会提供多条PRD，每条以 === PRD #N === 分隔。你必须逐条检查每条PRD，对每条分别输出检查结果。


            ## 检查维度（按优先级从高到低输出）

            | 优先级 | 维度 | 判定标准 |

            |--------|------|----------|

            | P1 | 场景错配 | ToC产品出现ToB专属术语（多租户/SSO/RBAC/审批流/部门管理/组织架构/角色权限等）。注意：Webhook/OAuth2.0/API/CDN等技术实现术语不属于ToB专属术语，应标注为未收录术语⚠️🟡中
            |

            | P1 | 埋点违规 | 一个行为一个事件，未用通用事件+动态参数模式 |

            | P2 | 数据无来源 | 数据类内容未标注出处 |

            | P3 | 缺少异常处理 | 只写了正常流程，未考虑异常分支 |

            | P4 | 验收标准模糊 | 「功能正常运行」「体验流畅」等模糊表述 |

            | P5 | 需求不可量化 | 「提升用户体验」「优化性能」无量化指标 |


            ## 输出格式（对每条PRD分别输出）

            ### PRD #N

            【风险点】：[具体问题]

            【位置】：[引用原文片段，超过50字用…截断]

            【风险等级】：🔴高 / 🟡中 / 🟢低

            【修改建议】：[关键词或短语，不超过15字]

            【行业参考】：[知识库中有则输出，无则省略此行]

            若该条PRD无风险，输出：✅ 未检测到规范风险


            ## 输出规则

            - 每条PRD必须独立检查，不可遗漏任何一条

            - 若多个风险指向同一处，合并为一条，等级取最高

            - 遇到未收录术语（不在黑名单中但属于技术术语，如Webhook/OAuth2.0/API/CDN等），标注「⚠️ 该术语未收录，请人工确认」，等级🟡中

            - 灰名单术语（技术实现术语，不可判为场景错配🔴高）：Webhook、OAuth2.0、API、CDN、Redis、MySQL、微服务、Token、SDK

            - 短PRD/草稿片段必须逐维度检查P1-P5

            - 一句话PRD至少检查P1场景错配、P3缺少异常处理、P4验收标准模糊、P5需求不可量化


            ## 知识库参考

            以下知识库内容已自动注入上下文，请参考相关规则进行检查。


            ## 禁止事项

            - 禁止替用户重写PRD

            - 禁止提供完整修改版

            - 禁止追问「是否需要展开」'
        - id: batch-prd-user-001
          role: user
          text: '{{#sys.query#}}\n\n{{#1776680000005.formatted_output#}}'
        selected: false
        structured_output_enabled: false
        title: PRD批量检查
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776680000006'
      position:
        x: 700
        y: 713
      positionAbsolute:
        x: 700
        y: 713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nfrom collections import Counter\n\ndef main(llm_output:\
          \ str) -> dict:\n    try:\n        if not llm_output or not str(llm_output).strip():\n\
          \            return {\n                'output': '⚠️ 未获取到检查结果，请重新提交。'\n\
          \            }\n\n        llm_output = str(llm_output)\n\n        if '\U0001F4CB\
          \ Jira任务格式' in llm_output or 'Jira任务格式' in llm_output:\n            return\
          \ {\n                'output': llm_output\n            }\n\n        if '✅\
          \ 未检测到规范风险' in llm_output:\n            return {\n                'output':\
          \ llm_output\n            }\n\n        risk_pattern = r'【风险点】：(.+?)\\n【位置】：(.+?)\\\
          n【风险等级】：(.+?)\\n【修改建议】：(.+?)$'\n        risks = re.findall(risk_pattern,\
          \ llm_output, re.MULTILINE)\n\n        if not risks:\n            return\
          \ {\n                'output': llm_output + '\\n\\n\U0001F4CB Jira任务格式：\\\
          n（未检测到标准格式风险点，请人工复核）'\n            }\n\n        risk_type_keywords = {\n\
          \            '场景错配': ['场景错配', 'ToB专属', '多租户', 'SSO', 'RBAC'],\n        \
          \    '埋点违规': ['埋点'],\n            '数据无来源': ['数据无来源', '数据来源', '出处'],\n  \
          \          '缺少异常处理': ['异常处理', '异常分支', '异常情况'],\n            '验收标准模糊': ['验收标准',\
          \ '验收条件'],\n            '需求不可量化': ['不可量化', '量化指标'],\n        }\n\n     \
          \   current_types = []\n        for risk in risks:\n            risk_point\
          \ = risk[0].strip()\n            matched = False\n            for type_name,\
          \ keywords in risk_type_keywords.items():\n                if any(k in risk_point\
          \ for k in keywords):\n                    current_types.append(type_name)\n\
          \                    matched = True\n                    break\n       \
          \     if not matched:\n                current_types.append(risk_point[:8])\n\
          \n        jira_lines = []\n        for risk in risks:\n            risk_point\
          \ = risk[0].strip()\n            level_raw = risk[2].strip()\n         \
          \   position = risk[1].strip()\n            suggestion = risk[3].strip()\n\
          \            if '\U0001F534' in level_raw or '高' in level_raw:\n       \
          \         priority = 'High'\n            elif '\U0001F7E1' in level_raw\
          \ or '中' in level_raw:\n                priority = 'Medium'\n          \
          \  else:\n                priority = 'Low'\n            jira_lines.append(f\"\
          【Bug】PRD风险：{risk_point} | 优先级：{priority} | 描述：{position} {suggestion}\"\
          )\n\n        jira_section = ''\n        if jira_lines:\n            jira_section\
          \ = '\\n\U0001F4CB Jira任务格式：\\n' + '\\n'.join(jira_lines)\n\n        summary_section\
          \ = ''\n        if len(current_types) >= 2:\n            type_counts = Counter(current_types)\n\
          \            most_common = type_counts.most_common(1)[0]\n            if\
          \ most_common[1] >= 2:\n                summary_section = f'\\n\\n\U0001F4CA\
          \ 本次检查最高频风险：{most_common[0]}（出现{most_common[1]}次）。建议重点关注{most_common[0]}问题。'\n\
          \n        final_output = llm_output + jira_section + summary_section\n\n\
          \        return {\n            'output': final_output\n        }\n    except\
          \ Exception as e:\n        return {\n            'output': f'⚠️ 结果处理异常，原始输出如下：\\\
          n\\n{llm_output if llm_output else \"（无输出）\"}'\n        }\\\n"
        code_language: python3
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: PRD批量风险计数
        type: code
        variables:
        - value_selector:
          - '1776680000006'
          - text
          value_type: string
          variable: llm_output
      height: 52
      id: '1776680000008'
      position:
        x: 700
        y: 857
      positionAbsolute:
        x: 700
        y: 857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776680000008.output#}}'
        selected: false
        title: PRD批量检查结果
        type: answer
        variables: []
      height: 84
      id: '1776680000009'
      position:
        x: 700
        y: 1120
      positionAbsolute:
        x: 700
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -471.73300779508895
      y: 340.18145640482317
      zoom: 0.7203637055538199
  rag_pipeline_variables: []
